﻿@page
@model EliminarModel
@{
}

<div class="container text-center">

    <h4>Eliminar</h4>
    <p>Esta seguro de eliminar el Medicamento?</p>
    <div>
        <h5>Medicamento</h5>


        <p><span><strong>@Html.DisplayNameFor(model => model.Input.ID):</strong></span></p>
        <p> @Html.DisplayFor(model => model.Input.ID)</p>


        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.Nombre):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Nombre)</p>
        </div>
        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.Marca):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Marca)</p>
        </div>

        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.Fecha):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Fecha)</p>
        </div>
        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.Precio_unidad):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Precio_unidad)</p>
        </div>

        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.cantidad):</strong></span></p><p>@Html.DisplayFor(model => model.Input.cantidad)</p>
        </div>
        <div class="col-lg-12">
            <p><span><strong>@Html.DisplayNameFor(model => model.Input.descripcion):</strong></span></p><p>@Html.DisplayFor(model => model.Input.descripcion)</p>
        </div>
        <br />
        <form method="post">
            <a asp-area="Medicamento" asp-controller="Medicamento" asp-action="Index" class="btn btn-primary">Atras</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />

        </form>
    </div>

    <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

</div>