﻿@page
@model RegistrarModel
@{
}

<a class="btn btn-primary text-white" asp-area="Medicamento" asp-controller="Medicamento" asp-action="Index">Regresar</a>

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" style="display:none;">
                    <label asp-for="Input.ID"></label>
                    <input class="form-control" id="InputID" asp-for="Input.ID">

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Nombre" for="InputNombre"></label>
                    <input class="form-control" id="InputNombre" asp-for="Input.Nombre" autocomplete="off">

                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Marca" for="InputMarca"></label>
                    <input class="form-control" id="InputMarca" asp-for="Input.Marca" autocomplete="off">

                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.Precio_unidad" for="InputPrecio_unidad"></label>
                    <input type="number" class="form-control" id="InputPrecio_unidad" asp-for="Input.Precio_unidad" autocomplete="off">

                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.cantidad" for="Inputcantidad"></label>
                    <input type="number" class="form-control" id="Inputcantidad" asp-for="Input.cantidad" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Fecha" for="InputFecha"></label>
                    <input type="date" class="form-control" id="InputFecha" asp-for="Input.Fecha" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.descripcion" for="Inputdescripcion"></label>
                    <textarea asp-for="Input.descripcion" class="form-control" id="Inputdescripcion" autocomplete="off"></textarea>
                </div>
            </div>
        </div>




        <button type="submit" class="btn btn-success">Guardar</button>
        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>

    </form>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}