﻿@page
@model RegistrarPartoModel
@{
}

<div class="container align-items-center">
    <form method="post">


        <div class="row" style="display:none;">

            <div class="form-group">
                <label asp-for="Input.id_parto" for="Inputid_parto"></label>
                <input asp-for="Input.id_parto" id="Inputid_parto" class="form-control" autofocus="autofocus" autocomplete="off" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.caravana_cerda" for="Inputid_cerdaMadre"></label>
                    @Html.DropDownList("Input.id_cerdaMadre", new SelectList(Model.Input.listaHembras, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cerdaMadre" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.fecha_nacimiento" for="Inputfecha_nacimiento"></label>
                    <input asp-for="Input.fecha_nacimiento" type="date" id="Inputfecha_nacimiento" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.nacidos_vivos" for="Inputnacidos_vivos"></label>
                    <input asp-for="Input.nacidos_vivos" type="number" id="Inputnacidos_vivos" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.nacidos_muertos" for="Inputnacidos_muertos"></label>
                    <input asp-for="Input.nacidos_muertos" type="number" id="Inputnacidos_muertos" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.numero_macho" for="Inputnumero_macho"></label>
                    <input asp-for="Input.numero_macho" type="number" id="Inputnumero_macho" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.numero_hembra" for="Inputnumero_hembra"></label>
                    <input asp-for="Input.numero_hembra" type="number" id="Inputnumero_hembra" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.numero_adoptados" for="Inputnumero_adoptados"></label>
                    <input asp-for="Input.numero_adoptados" type="number" id="Inputnumero_adoptados" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.numero_transferidos" for="Inputnumero_transferidos"></label>
                    <input asp-for="Input.numero_transferidos" type="number" id="Inputnumero_transferidos" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.peso_promedio" for="Inputpeso_promedio"></label>
                    <input asp-for="Input.peso_promedio" type="number" id="Inputpeso_promedio" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.fecha_Destete" for="Inputfecha_Destete"></label>
                    <input asp-for="Input.fecha_Destete" type="date" id="Inputfecha_Destete" class="form-control" autofocus="autofocus" autocomplete="off" />
                </div>

            </div>


        </div>






        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>






    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
