﻿
@model DataPaginador<InputModelsServicio>
@{
    ViewData["Title"] = "Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="row">
        <div class="input-group">
            <a asp-area="Cerdos" asp-page="/RegistrarServicio/RegistrarServicio" class="btn btn-success"    >Registrar</a>

        </div>

    </div>
    <br />

    <form asp-area="Cerdos" asp-controller="Servicio" asp-action="Servicio" method="get">
        <div class="row">
            <div class=" input-group">
                <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-3" aria-label="Search" autocomplete="off" />
                <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
            </div>

        </div>
    </form>
    <br />

    <div class="row">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_Servicio)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_macho)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.caravana_macho)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_hembra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.caravana_hembra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.fecha_servicio)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.servicio_exitoso)
                    </th>

                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.id_Servicio)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.id_macho)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.caravana_macho)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.id_hembra)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.caravana_hembra)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.fecha_servicio)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.servicio_exitoso)

                    </td>

                    <td>
                        <a asp-area="Cerdos" asp-page="/RegistrarServicio/RegistrarServicio" asp-route-id="@item.id_Servicio" class=" btn btn-success">Editar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>


</div>



