﻿

@model InputModelCorral


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Corral</h4>
</div>

<div class="modal-body">

    <div class="container-fluid">
        <form method="post" action="@Url.Action("saveCorral","Corrales")">

            <div class="row">


                <div class="col-sm-12">

                    <div class="form-group-sm">
                        <label  for="numeroCorral">Numero de corral</label>
                        <input type="number" name="numeroCorral" class="form-control"  id="numeroCorral" />
                        <span asp-validation-for="numeroCorral" class="text-danger"></span>

                    </div>

                    <br />


                    <div class="form-group">
                        <label for="Comentario">Comentario</label>
                        <textarea  id="Comentario" name="Comentario" class="form-control"></textarea>
                    </div>

                </div>

            </div>




            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>

</div>


<div class="modal-footer">

    <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}






