﻿@model DataPaginador<InputModelsPartos>


@{
    ViewData["Title"] = "Parto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="row">
        <div class="input-group">
            <a asp-area="Cerdos" asp-page="/RegistrarParto/RegistrarParto" class="btn btn-success">Agregar</a>

        </div>

    </div>
    <br />

    <form asp-area="Cerdos" asp-controller="Partos" asp-action="Parto" method="get">
        <div class="row">
            <div class=" input-group">
                <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-4" aria-label="Search" autocomplete="off" />
                <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
            </div>

        </div>
    </form>
    <br />

    <div class="row">
        <table class="table table-responsive-sm">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_parto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_cerdaMadre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.caravana_cerda)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.fecha_nacimiento)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.nacidos_vivos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.nacidos_muertos)
                    </th>

                    

                  

    

                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.id_parto)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.id_cerdaMadre)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.caravana_cerda)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.fecha_nacimiento)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.nacidos_vivos)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.nacidos_muertos)

                    </td>
                  
             

              

                    <td>
                        <a asp-area="Cerdos" asp-page="/RegistrarParto/RegistrarParto" asp-route-id="@item.id_parto" class=" btn btn-success btn-sm">Editar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>


</div>





