﻿@page
@model RegistrarModel
@{
}
<a class="btn btn-primary text-white" asp-area="Alimentos" asp-controller="Alimentos" asp-action="Index">Regresar</a>

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group" style="display:none;">
                    <label asp-for="Input.Id"></label>
                    <input class="form-control" id="InputId" asp-for="Input.Id">

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Nombre" for="InputNombre"></label>
                    <input class="form-control" id="InputNombre" asp-for="Input.Nombre" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.categoria" for="Inputcategoria"></label>
                    @Html.DropDownList("Input.categoria", new SelectList(Model.Input.alimentacionList, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputcategoria" })

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.valor_bulto" for="Inputvalor_bulto"></label>
                    <input type="number" class="form-control" id="Inputvalor_bulto" asp-for="Input.valor_bulto" autocomplete="off">

                </div>
            </div>

            <div class="col-lg-3" style="display:none;">
                <div class="form-group">
                    <label asp-for="Input.valor_kg" for="Inputvalor_kg" ></label>
                    <input type="number" class="form-control" id="Inputvalor_kg" asp-for="Input.valor_kg" autocomplete="off">

                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.cantidad" for="Inputcantidad"></label>
                    <input type="number" class="form-control" id="Inputcantidad" asp-for="Input.cantidad" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Fecha_compra" for="InputFecha_compra"></label>
                    <input type="date" class="form-control" id="InputFecha_compra" asp-for="Input.Fecha_compra" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label asp-for="Input.Descripcion" for="Inputdescripcion"></label>
                    <textarea asp-for="Input.Descripcion" class="form-control" id="InputDescripcion" autocomplete="off"></textarea>
                </div>
            </div>
        </div>




        <button type="submit" class="btn btn-success">Guardar</button>
        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>

    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}