﻿
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="cerdos-container" >


        <h2>Ha ocurrido un error o usted no tiene permiso para realizar la acción</h2>

    </div>