﻿@{
    ViewData["Title"] = "Login";
}

@model LoginViewModels


<div class="global-login">
    <div class="container-login">
        <div class="logo-container">
            <h1>GestPork</h1>
            <div class="img-logo">
                <img src="~/images/fondos/login-portada.jpg" alt="Alternate Text" />
            </div>
        </div>
        <div class="input-container">
            <form asp-controller="Home" asp-action="Index" method="post">
                <div class="input-email">
                    <i class="fas fa-user"></i>

                    <input asp-for="input.Email" placeholder="Correo electronico" />


                </div>
                <div class="input-error">
                    <span asp-validation-for="input.Email"> </span>
                </div>
                <div class="input-password">

                    <i class="fas fa-lock"></i>

                    <input asp-for="input.Password" placeholder="Contraseña" />

                </div>
                <div class="input-error">
                    <span asp-validation-for="input.Password"></span>
                </div>

                <div class="input-btn">
                    <button>Iniciar sesión</button>
                </div>

                <div class="error-message">
                    <label id="indexMessage">@Html.DisplayFor(m => m.ErrorMessage)</label>
                </div>

            </form>

        </div>

        <footer>

            <p>Sistema de gestión y control porcino</p>
            <p>© Proyecto de grado</p>

        </footer>

    </div>


</div>






@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}


