﻿@page
@model EliminarCerdoModel
@{
}

    <div class="cerdos-container">
     
        <div class="cerdos-remove">
            <h4>Eliminar</h4>
            <p>Esta seguro de eliminar el Cerdo?</p>
            <div>
                <h5>Cerdo</h5>


                <p><span><strong>@Html.DisplayNameFor(model => model.Input.ID):</strong></span></p>
                <p> @Html.DisplayFor(model => model.Input.ID)</p>

                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.codigo):</strong></span></p><p>@Html.DisplayFor(model => model.Input.codigo)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.Peso):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Peso)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.Sexo):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Sexo)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.fecha_destete):</strong></span></p><p>@Html.DisplayFor(model => model.Input.fecha_destete)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.fecha_nacimiento):</strong></span></p><p>@Html.DisplayFor(model => model.Input.fecha_nacimiento)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.linea_produccion):</strong></span></p><p>@Html.DisplayFor(model => model.Input.linea_produccion)</p>
                </div>
                <br />
                <form method="post">
                    <a asp-area="Cerdos" asp-controller="Cerdos" asp-action="Index" class="btn btn-primary">Atras</a>
                    <input type="submit" value="Eliminar" class="btn btn-danger" />

                </form>
            </div>

            <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

        </div>

      

    </div>