﻿
@model DataPaginador<InputModelMedicamentos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="max-width:1200px;">
    <div class="row">
        <div class="input-group">
            <a asp-area="Medicamento" asp-page="/Registrar/Registrar" class="btn btn-success">Agregar</a>
        </div>
    </div>
    <br />
    <div class="row">
        <form asp-area="Medicamento" asp-controller="Medicamento" asp-action="Index" method="get">
            <div class="input-group">
                <input asp-for="Search" placeholder="Buscar.." class="form-control" aria-label="Search" autocomplete="off" />
                <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
            </div>

        </form>
    </div>
    <br />


  
            <table class="table table-responsive">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Marca)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Fecha)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.Precio_unidad)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.cantidad)
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.ID)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Nombre)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Marca)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Fecha)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Precio_unidad)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.cantidad)

                            </td>
                            <td>
                                <a asp-area="Medicamento" asp-page="/Registrar/Registrar" asp-route-id="@item.ID" class=" btn btn-primary">Editar</a> | <a asp-area="Medicamento" asp-page="/Eliminar/Eliminar" asp-route-id="@item.ID" class=" btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
       

        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>

      
    </div>



