﻿@page
@model EliminarModel
@{
}


<div class="cerdos-container">

    <div class="cerdos-remove">

        <h4>Eliminar</h4>
        <p>Esta seguro de eliminar el corral?</p>
        <div>
            <h5>Corral</h5>

            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.ID):</strong></span></p>
                <p> @Html.DisplayFor(model => model.Input.ID)</p>
            </div>

            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.numeroCorral):</strong></span></p><p>@Html.DisplayFor(model => model.Input.numeroCorral)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Comentario):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Comentario)</p>
            </div>
            <br />
            <form method="post">
                <a asp-area="Corrales" asp-controller="Corrales" asp-action="Index" class="btn btn-primary">Atras</a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            </form>
        </div>

        <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

    </div>



</div>
