﻿@page
@model RegistrarServicioModel
@{
}


<div class="container align-items-center">
    <form method="post">


        <div class="row" style="display:none;">

            <div class="form-group">
                <label asp-for="Input.id_Servicio" for="Inputid_Servicio"></label>
                <input asp-for="Input.id_Servicio" id="Inputid_servicio" class="form-control" autofocus="autofocus" autocomplete="off" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_macho" for="Inputid_macho"></label>
                    @Html.DropDownList("Input.id_macho", new SelectList(Model.Input.listaMachos, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_macho" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_hembra" for="Inputid_hembra"></label>
                    @Html.DropDownList("Input.id_hembra", new SelectList(Model.Input.listaHembras, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_hembra" })
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Input.fecha_servicio" for="Inputfecha_servicio"></label>
                    <input type="date" asp-for="Input.fecha_servicio" class="form-control" id="Inputfecha_servicio" autocomplete="off" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Input.servicio_exitoso" for="Inputservicio_exitoso"></label>
                    @Html.DropDownList("Input.servicio_exitoso", new SelectList(Model.Input.servicioExitoso, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputservicio_exitoso" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Observacion" for="InputObservacion"></label>
                    <textarea asp-for="Input.Observacion" id="InputObservacion" class="form-control"></textarea>
                </div>
            </div>
        </div>


        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>






    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}