﻿@model InputModelsCerdosMedicamentos


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Suministrar Medicamento</h4>
</div>
<form>
    <div class="modal-body">

        <div class="container-fluid">


            <div class="row">

                <div class="col-sm-12">

                    <div class="form-group-sm">
                        <label asp-for="id_cerdo" for="id_cerdo"></label>
                        <input type="text" name="codigo" class="form-control" asp-for="id_cerdo" id="id_cerdo" readonly="readonly" />
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_medicamento" for="id_medicamento"></label>
                        @Html.DropDownList("id_medicamento", new SelectList(Model.MedicamentoList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "id_medicamento",@required="required" })
                        <span asp-validation-for="id_medicamento" class="text-danger"></span>

                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="cantidad_suministrada" for="cantidad_suministrada"></label>
                        <input class="form-control" type="number" id="cantidad_suministrada" asp-for="cantidad_suministrada" autocomplete="off" required>

                    </div>

                    <br />
                    <div class="form-group">
                        <label asp-for="fecha" for="fecha"></label>
                        <input class="form-control" type="date" id="fecha" asp-for="fecha" autocomplete="off" required>

                    </div>

                    <div class="form-group">
                        <label asp-for="observacion" for="observacion"></label>
                        <textarea class="form-control" id="observacion" asp-for="observacion" autocomplete="off"> </textarea>

                    </div>
                </div>

            </div>

          

            <button type="button" onclick="saveMedicamento()" class="btn btn-success">Guardar</button>
        </div>

    </div>
</form>
<div class="modal-footer">

    <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

</div>





