﻿

@model DataPaginador<InputModelsClientes>

    @{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <div class="cerdos-container">

        <div class="row">
            <hr />
            <h1>Clientes</h1>
            <hr />
        </div>

        <div class="prev-saves">

            <a asp-action="Index" asp-controller="Principal" class="prev">&#10094;</a>
            <div class="action-register"><a asp-area="Clientes" asp-page="/Registrar/Registrar"> Agregar <i class="fas fa-plus-circle"></i></a></div>

        </div>

        <br />

        <div class="cerdos-filter">
            <form asp-area="Cerdos" asp-controller="Clientes" asp-action="Index" method="get">
                <div class="search">

                    <input asp-for="Search" placeholder="Buscar.." aria-label="Search" autocomplete="off" />
                    <div class="btn-buscar"> <button type="submit"><i class="fa fa-search"></i></button></div>

                </div>
            </form>
        </div>

        <br />

        <div class="table-information">

            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.id_clientes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.nombre)
                        </th>
                        <th>
                            Identificación
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.direccion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.telefono)
                        </th>



                        <th>
                            @Html.DisplayNameFor(model => model.Input.fecha)
                        </th>

                        <th>
                            Acciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.id_clientes)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.nombre)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.cedula)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.direccion)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.telefono)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.fecha)

                            </td>
                            <td>

                                <div class="acciones">
                                    <a asp-area="Clientes" asp-page="/Registrar/Registrar" asp-route-id="@item.id_clientes"><div class="action-item"><div class="add-item">Editar</div> <div class="add-item"><i class="fas fa-edit"></i></div></div></a> <a asp-area="Clientes" asp-page="/Eliminar/Eliminar" asp-route-id="@item.id_clientes"><div class="action-item"><div class="drop-item">Eliminar</div><div class="drop-item"><i class="fas fa-trash-alt"></i></div></div></a>
                                </div>
                                @*| <a asp-area="Clientes" asp-page="/Eliminar/Eliminar" asp-route-id="@item.id_clientes" class=" btn btn-danger">Eliminar</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="paginator">
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>

    </div>
