﻿@page
@model RegistrarModel
@{
}

<div class="container">
    <form method="post">


        <div class="row" style="display:none;">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_cerdo_medicamento"></label>
                    <input class="form-control" id="Inputid_cerdo_medicamento" asp-for="Input.id_cerdo_medicamento">

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.id_cerdo" for="Inputid_cerdo"></label>
                    @Html.DropDownList("Input.id_cerdo", new SelectList(Model.Input.cerdosList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cerdo" })
                    <span asp-validation-for="Input.id_cerdo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">


                <div class="form-group">
                    <label asp-for="Input.id_medicamento" for="Inputid_cliente"></label>
                    @Html.DropDownList("Input.id_medicamento", new SelectList(Model.Input.MedicamentoList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_medicamento" })
                    <span asp-validation-for="Input.id_medicamento" class="text-danger"></span>

                </div>


            </div>

        </div>


        <div class="row">

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.cantidad_suministrada" for="Inputcantidad_suministrada"></label>
                    <input class="form-control" type="number" id="Inputcantidad_suministrada" asp-for="Input.cantidad_suministrada" autocomplete="off">

                </div>
            </div>


        </div>


        <div class="row">


            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.fecha" for="Inputfecha"></label>
                    <input class="form-control" type="date" id="Inputfecha" asp-for="Input.fecha" autocomplete="off">

                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.observacion" for="Inputobservacion"></label>
                    <textarea class="form-control"  id="Inputobservacion" asp-for="Input.observacion" autocomplete="off"> </textarea>

                </div>
            </div>
        </div>





        <button type="submit" class="btn btn-success">Guardar</button>
        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>

    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}