﻿@model InputModelsAll


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Información del cerdo</h4>
</div>

<div class="modal-body">

    <div class="container-fluid">




        <div class="list-option">
            <ul class="item-collapse">
                <li>
                    <a href="#information-pork" data-toggle="collapse">Datos Cerdo/a</a>
                    <br />

                    <div id="information-pork" class="collapse">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.codigo"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.codigo" readonly="readonly" />
                                </div>

                            </div>

                        </div>
                        <br />
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.fecha_registro"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.fecha_registro" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.numeroCorral"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.numeroCorral" readonly="readonly" />
                                </div>

                            </div>

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.Peso"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.Peso" readonly="readonly" />
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.nombre_produccion"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.nombre_produccion" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.NombreRaza"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.NombreRaza" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.Sexo"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.Sexo" readonly="readonly" />
                                </div>
                            </div>


                        </div>
                        <br />

                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.status"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.status" readonly="readonly" />
                                </div>
                            </div>
                            @if (Model.cerdos.Sexo.Equals("M"))
                            {

                                <div class="col-sm-4">
                                    <div class="form-group-sm">
                                        <label asp-for="cerdos.castrado"></label>
                                        <input type="text" class="form-control" asp-for="cerdos.castrado" readonly="readonly" />
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-sm-4">
                                    <div class="form-group-sm">
                                        <label asp-for="cerdos.numero_tetas"></label>
                                        <input type="text" class="form-control" asp-for="cerdos.numero_tetas" readonly="readonly" />
                                    </div>
                                </div>

                            }


                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.Nombre_alimentacion"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.Nombre_alimentacion" readonly="readonly" />
                                </div>
                            </div>


                        </div>

                        <br />



                        <div class="row">



                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.fecha_nacimiento"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.fecha_nacimiento" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group-sm">
                                    <label asp-for="cerdos.fecha_destete"></label>
                                    <input type="text" class="form-control" asp-for="cerdos.fecha_destete" readonly="readonly" />
                                </div>
                            </div>


                        </div>

                        <br />


                    
                    </div>
                </li>

                @if (Model.cerdos.nombre_produccion.Equals("padrote"))
                {
                    <li>
                        <a href="#information-service" data-toggle="collapse">Datos de Servicio</a>
                        <br />
                        <div id="information-service" class="collapse">


                            <div>
                                <label>Total de servicio: @Html.DisplayFor(m => m.totalServicio)</label>
                            </div>

                            <div>
                                <label>% servicio exitoso: @Html.DisplayFor(m => m.porcentajeExito)</label>

                            </div>

                            <div>
                                <label>% servicio fallido: @Html.DisplayFor(m => m.porcentajeFallido) </label>
                            </div>
                            <div>
                                <label> N#cerdas total: @Html.DisplayFor(m => m.cerdasTotales)</label>
                            </div>
                            <div>
                                <label>Fecha de ultimo servicio: @Html.DisplayFor(m => m.lastService)</label>
                            </div>

                            <div>
                                <label>Fecha de primer servicio: @Html.DisplayFor(m => m.firstService)</label>
                            </div>


                        </div>

                    </li>


                }
                @if (Model.cerdos.nombre_produccion.Equals("reproductora"))


                {

                    <li>
                        <a href="#information-gestacion" data-toggle="collapse">Datos de Gestación</a>

                        <div id="information-gestacion" class="collapse">

                            <br />

                            <div>
                                <label>Total de gestación: @Html.DisplayFor(m => m.totalgestacion)</label>
                            </div>

                            <div>
                                <label>pendientes: @Html.DisplayFor(m => m.pendienteGestacion)</label>
                            </div>

                            <div>
                                <label>Fecha inicio: @Html.DisplayFor(m => m.fechaReal)</label>

                            </div>
                            <div>
                                <label>Fecha aproximada de parto: @Html.DisplayFor(m => m.fechaAproximada)</label>

                            </div>


                        </div>
                    </li>
                    <br />
                    <li>
                        <a href="#information-parto" data-toggle="collapse">Datos de Parto</a>
                        <br />

                        <div id="information-parto" class="collapse">



                            <div>
                                <label>Total de partos: @Html.DisplayFor(m => m.totalParto)</label>
                            </div>

                            <div>
                                <label> Total de lechones: @Html.DisplayFor(m => m.totalLechones)</label>
                            </div>

                            <div>
                                <label>% lechones machos: @Html.DisplayFor(m => m.porcentajeHombre)</label>

                            </div>

                            <div>
                                <label>% lechones hembras: @Html.DisplayFor(m => m.porcentajeHembra) </label>
                            </div>
                            <div>
                                <label> Mortalidad: @Html.DisplayFor(m => m.mortandad)</label>
                            </div>


                            <div>
                                <label>Fecha de ultimo parto: @Html.DisplayFor(m => m.lastParto)</label>
                            </div>

                            <div>
                                <label>Fecha de primer parto: @Html.DisplayFor(m => m.firstParto)</label>
                            </div>


                        </div>

                    </li>


                }

                <li>
                    <a href="#information-medic" data-toggle="collapse">Datos de medicamentos</a>
                    <br />

                    <div id="information-medic" class="collapse">

                        <div class="table-information">

                            <table class="table table-responsive">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Medicamento
                                        </th>

                                        <th>
                                            Dosis
                                        </th>

                                        <th>
                                            Fecha
                                        </th>
                                    </tr>


                                </thead>

                                <tbody>

                                    @{
                                        int cantidad = 1;
                                    }
                                    @foreach (var item in Model.medicamentos)
                                    {
                                        <tr>
                                            <td>@(cantidad++)</td>

                                            <td>@item.nombre_medicamento</td>
                                            <td>@item.cantidad_suministrada</td>
                                            <td>@item.date</td>

                                        </tr>
                                    }


                                </tbody>


                            </table>

                        </div>




                    </div>

                </li>
               
                    <li>
                        <a href="#information-move" data-toggle="collapse">Datos de Traslado</a>
                        <br />

                        <div id="information-move" class="collapse">

                            <div class="row">

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="id_corral">Ubicación de corral</label>
                                        <input type="text" class="form-control" id="@Model.traslado.id_corral" readonly="readonly" asp-for="traslado.id_corral" />
                                    </div>

                                </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="id_corrall">Fecha</label>
                                        <input type="text" class="form-control" id="@Model.traslado.fecha" readonly="readonly" asp-for="traslado.fecha" />
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label for="causas">Causas</label>
                                    <textarea class="form-control" asp-for="traslado.causas" id="causas" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>

                    </li>
                




            </ul>
        </div>




























    </div>






    <div class="modal-footer">

        <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cerrar</button>

    </div>






