﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var userImage = UserManager.GetUserName(User) + ".png";

}


<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/c019c7c15d.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestion Porcino</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" rel="stylesheet" />





    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Page level plugin CSS-->
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        @*<link href="~/css/sb-admin.css" rel="stylesheet">*@
        <link rel="stylesheet" type="text/css" href="~/css/Global.css" />
        <link href="~/css/Login.css" type="text/css" rel="stylesheet" />





    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <link rel="stylesheet" type="text/css" href="~/css/Global.css" />
        <link href="~/css/Login.css" type="text/css" rel="stylesheet" />

        @*<link href="~/css/sb-admin.css" rel="stylesheet">*@
        @*<link rel="stylesheet" href="~/css/sb-admin.min.css" asp-append-version="true" />*@

        <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <!-- Custom styles for this template-->



    </environment>
</head>


<body>


    @if (SignInManager.IsSignedIn(User))

    {

        <div class="global">
            @Html.Partial("_menuPartial")
            @RenderBody()
            @Html.Partial("_FooterPartial")


        </div>

    }
    else
    {
        @RenderBody()
    }


















    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Config.js" asp-append-version="true"></script>
        <script src="~/js/Funciones.js" asp-append-version="true"></script>
        <script src="~/js/UploadPicture.js" asp-append-version="true"></script>
        <script src="~/js/Usuarios.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->

        <script src="~/vendor/chart.js/Chart.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.min.js"></script>


    </environment>
    <environment exclude="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Config.js" asp-append-version="true"></script>
        <script src="~/js/Funciones.js" asp-append-version="true"></script>
        <script src="~/js/UploadPicture.js" asp-append-version="true"></script>
        <script src="~/js/Usuarios.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Page level plugin JavaScript-->
        <script src="~/vendor/chart.js/Chart.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.min.js"></script>



    </environment>



    @RenderSection("Scripts", required: false)

</body>

</html>

