﻿
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var userImage = UserManager.GetUserName(User) + ".png";

}

<nav class="menu">

    <div class="menu-home">
        <h2><a asp-action="Index" asp-controller="Principal">GestPork</a></h2>
    </div>
    <div class="menu-user">

        <div class="text-user">

            <a>@UserManager.GetUserName(User)  <i class="fas fa-angle-right" id="flecha"></i></a>

            <div class="option-menu">

                <div class="img-perfil">
                    <img src="~/images/photos/Users/@userImage" alt="img-user" />
                </div>

                <div class="item-perfil">
                    <a asp-page="/MIPerfil/MIPerfil" asp-area="Users" asp-route-id="@UserManager.GetUserName(User)">Editar perfil</a>
                </div>
                <div class="item-out">
                    <a asp-area="Users" asp-controller="Users" asp-action="SessionClose">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
            </div>

       
    </div>

</nav>