﻿@model DataPaginador<InputModelsCerdos>
@{
    ViewData["Title"] = "Cerdos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="cerdos-container">

        <div class="row">
            <hr />
            <h1>Cerdos</h1>
            <hr />
        </div>

        <div class="prev-saves">

            <a asp-action="Index" asp-controller="Principal" class="prev">&#10094;</a>
            <div class="action-register"><a asp-area="Cerdos" asp-page="/RegistrarCerdo/RegistrarCerdo"> Agregar <i class="fas fa-plus-circle"></i></a></div>

        </div>



        <div class="cerdos-filter">
            <form asp-area="Cerdos" asp-controller="Cerdos" asp-action="Index" method="get">
                <div class="search">

                    <input asp-for="Search" placeholder="Buscar.." aria-label="Search" autocomplete="off" />
                    <div class="btn-buscar"> <button type="submit"><i class="fa fa-search"></i></button></div>

                </div>
            </form>
        </div>

        <div class="table-information">
            <table class="table">

                <thead>
                    <tr>


                        <th>
                            @Html.DisplayNameFor(model => model.Input.NombreRaza)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.codigo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Sexo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.Peso)
                        </th>



                        <th>
                            @Html.DisplayNameFor(model => model.Input.numeroCorral)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.Nombre_alimentacion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.nombre_produccion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.status)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.NombreRaza)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.codigo)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Sexo)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Peso)

                            </td>


                            <td>

                                @Html.DisplayFor(modelItem => item.numeroCorral)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Nombre_alimentacion)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.nombre_produccion)

                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>

                            <td>
                                <div class="acciones">
                                    <a asp-area="Cerdos" asp-page="/RegistrarCerdo/RegistrarCerdo" asp-route-id="@item.ID"><div class="action-item"><div class="add-item">Editar</div> <div class="add-item"><i class="fas fa-edit"></i></div></div></a> <a asp-area="Cerdos" asp-page="/EliminarCerdo/EliminarCerdo" asp-route-id="@item.ID"><div class="action-item"><div class="drop-item">Eliminar</div><div class="drop-item"><i class="fas fa-trash-alt"></i></div></div></a> <a onclick="verMas(@item.ID)" data-toggle="modal" data-target="#verMasModal"><div class="action-item"><div class="show-item">Ver más</div><div class="show-item"><i class="fas fa-eye"></i></div></div></a> <a onclick="addTraslado(@item.ID)" data-toggle="modal" data-target="#trasladoModal"><div class="action-item"><div class="move-item">Traslado</div><div class="move-item"><i class="fas fa-plus-circle"></i></div></div></a> <a asp-action="addMedicamento" asp-controller="Cerdos" asp-area="Cerdos" asp-route-id="@item.ID" data-toggle="modal" data-target="#medicamentoModal"> <div class="action-item"><div class="medical-item">Medicamento</div><div class="medical-item"><i class="fas fa-notes-medical"></i></div></div></a>

                                    @if (item.nombre_produccion.ToLower().Equals("reproductora"))
                                    {
                                        <a asp-area="Cerdos" asp-controller="Cerdos" asp-action="addParto" asp-route-id="@item.ID" data-toggle="modal" data-target="#partoModal"><div class="action-item"><div class="birth-item">Parto</div><div class="birth-item"><i class="fas fa-plus-circle"></i></div></div></a>
                                        <a asp-area="Cerdos" asp-controller="Cerdos" asp-action="addGestacion" data-target="#gestacionModal" data-toggle="modal" asp-route-id="@item.ID"><div class="action-item"><div class="gestation-item">Gestación</div><div class="gestation-item"><i class="fas fa-plus-circle"></i></div></div></a>
                                    }

                                    @if (item.nombre_produccion.ToLower().Equals("padrote"))
                                    {
                                        <a asp-area="Cerdos" asp-controller="Cerdos" asp-action="AddServicio" asp-route-id="@item.ID" data-toggle="modal" data-target="#serviceModal"><div class="action-item"><div class="service-item">Servicio</div><div class="service-item"><i class="fas fa-plus-circle"></i></div></div></a>
                                    }

                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="paginator">
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>



    </div>

<!-- contiene modales de acciones de la vista cerdos, respecto a movimientos de Gestacion,parto,servicio...-->
<!-- Modal -->
<div id="serviceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<!-- Modal -->
<div id="partoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<!-- Modal -->
<div id="gestacionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<!-- Modal -->
<div id="verMasModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="more-container"></div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="trasladoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div id="traslado-container"></div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="medicamentoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div id="medicamento-container"></div>

        </div>

    </div>
</div>
<!---------------------------------------------------------scripts---------------------------------------------------------->
<script>

    function verMas(id) {


        $.ajax(
            {

                method: "POST",
                url: "@Url.Action("cerdoInformacion", "Cerdos")",
                data: { 'id': id },
                type: JSON,
                success: function (response) {

                    $('#more-container').empty();
                    $("#more-container").html(response);

                },
                error: function (error) {

                    iziToast.show({

                        title: "Warning",
                        message: "Ha ocurrido un error, intente mas tarde",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });
                }
            }


        );
    }


        function addTraslado(id){


            $.ajax(
                {

                    method: "POST",
                    url: "@Url.Action("addTraslado", "Cerdos")",
                    data: { 'id': id },
                    type: JSON,
                    success: function (response) {


                        $("#traslado-container").html(response);

                    },
                    error: function (error) {

                        iziToast.show({

                            title: "Warning",
                            message: "Ha ocurrido un error, intente mas tarde",
                            color: "red",
                            theme: "light",
                            position: "topCenter"
                        });
                    }
                });
        }


    function saveTraslado(id) {

        let corral = $('#id_corral').find('option:selected').val();
        let codigo = $('#codigo_cerdo').val();
        let causas = $('#causas').val();
        let data = {'id': codigo,'corral':corral,'causas':causas };

        if (corral != "Seleccione") {

            $.ajax({


                type:"POST",
                url: '@Url.Action("saveTraslado","Cerdos")',
                dataType: 'json',
                data: { 'id': codigo, 'corral': corral, 'causas': causas },

               
                success: function (d) {

                    
                    alert(d);

                        iziToast.show(
                            {
                                title: "success",
                                message: 'Se ha guardado sastifactoriamente',
                                theme: 'light',
                                position: 'topCenter',
                                color: 'green'
                            }

                    );

                     window.setInterval("reFresh()",2000);

                    


                },

                error: function (error) {
                   
                    iziToast.show({

                        title: "Warning",
                        message: "Ha ocurrido un error, intente mas tarde ",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });
                }
            });



        } else {

             iziToast.show({

                        title: "Warning",
                        message: "debe seleccionar un corrar de destino",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });

        }




    }

    function saveMedicamento() {

        let medicamento = $('#id_medicamento').find('option:selected').val();
    
        let codigo = $('#id_cerdo').val();
        let observacion = $('#observacion').val();
        let fecha = $('#fecha').val();
        let dosis = $('#cantidad_suministrada').val();
 

        if (medicamento != "Seleccione") {
            

            $.ajax({


                method: "POST",
                url: '@Url.Action("saveMedicamento","Cerdos")',
                data: { 'id': codigo,'medicamento':medicamento,'dosis':dosis,'fecha':fecha,'observacion':observacion },
                 dataType: 'json',
                success: function (d) {


                        iziToast.show(
                            {
                                title: "success",
                                message: 'Se ha guardado sastifactoriamente',
                                theme: 'light',
                                position: 'topCenter',
                                color: 'green'
                            }

                    );

                     window.setInterval("reFresh()",2000);


                },

                error: function (error) {

                    iziToast.show({

                        title: "Warning",
                        message: "Ha ocurrido un error, intente mas tarde",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });
                }
            });



        } else {

             iziToast.show({

                        title: "Warning",
                        message: "debe seleccionar un corrar de destino",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });

        }

    }


      function reFresh() {

            location.reload(false);

            }


</script>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}