﻿@model IEnumerable<SistemaDeVentas.Models.Ventas.Clase.Venta>

 

@{
    int contador = 0;
}

@foreach (var item in Model)
{
    contador = contador + 1;

}
@if (contador >= 1)
{

    <div class="jarviswidget jarviswidget-color-greenDark" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
       

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">
                @*table-responsive*@

                <div class="custom-scroll " style="height:108px; overflow-y: scroll;">


                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Cod </th>
                                <th>Sexo </th>
                                <th>Raza </th>
                                <th>Tipo Venta</th>
                                <th>Peso </th>
                                <th>Valor/Kg </th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.IdCerdo</td>
                                    <td>@item.sexo</td>
                                    <td>@item.raza</td>
                                    <td>@item.TipoVenta</td>
                                    <td>@item.Peso</td>
                                    <td>@item.ValorKG</td>
                                    <td>@item.Valor</td>
                                   

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>



            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>

    <div class="row">

      




        <div class="col-md-2">
            <span class="center-block padding-5 label label-info">Total: @contador</span>

        </div>

    </div>

}