﻿
<form action="#" method="GET" onsubmit="return validaCampos();">
    <div class="modal-body">


        <input type="hidden" id="IdDetail" value="" />
         

        <div class="row">

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="IdCorral">Corral</label>
                            <select class="form-control" id="IdCorral" onchange="SelectCerdo(this);">
                                <option value="" disabled selected>Seleccione</option>
                                @foreach (var x in ViewBag.cboCorrales)
                                {

                                    <option value="@x.Value">@x.Text</option>
                                }



                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="Busqueda">Busqueda</label>
                            <input type="text" class="form-control" value="" autocomplete="off" onkeyup="Buscar(this);" id="Busqueda" placeholder="">
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Compra">Id</label>
                            <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="IdCerdo" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="Compra">Codigo</label>
                            <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="CodigoCerdo" placeholder="">
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">


                <div class="form-group" id="selectCerdo">

                    <label for="exampleFormControlSelect2">Seleccione Cerdo</label>
                    <select multiple class="form-control" style="height: 107px;" id="exampleFormControlSelect2">
                        <option disabled>Elija Corral</option>


                    </select>

                </div>


            </div>





        </div>




        <div id="divCerdo">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Compra">Peso</label>
                        <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="txtpeso" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="Compra">Sexo</label>
                        <input type="text" readonly class="form-control" value="" autocomplete="off" id="txtsexo" placeholder="">
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="Compra">Raza</label>
                        <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="valor" placeholder="">
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Compra">Fecha Nacimiento</label>
                        <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="valor" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="Compra">Fecha Destete</label>
                        <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="valor" placeholder="">
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="Compra">Tetas/Castrado</label>
                        <input type="text" readonly class="form-control solo-numero" value="" autocomplete="off" id="valor" placeholder="">
                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Estado">Tipo de venta</label>
                    <select class="form-control" id="Estado">


                        <option value="1">SELECCIONE</option>
                        <option value="EN CANAL"> EN CANAL</option>
                        <option value="EN PIE">EN PIE</option>

                    </select>
                </div>
            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Valor x Peso</label>
                    <input type="text" class="form-control solo-numero" value="" autocomplete="off" onkeyup="inputInteger('valorindividual')" id="valorindividual" placeholder="$">
                </div>

            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <button type="button" id="btnAgregarDetalle" class="btn btn-primary" style="margin-top: 24px; background-color:#008080;">
                        Agregar
                    </button>
                </div>

            </div>

        </div>



        <div class="form-group">
            <label for="Compra">Cliente</label>
            <select class="form-control" id="cboCliente">
                <option value="0" disabled selected>Seleccione</option>
                @foreach (var y in ViewBag.cboClientes)
                {

                    <option value="@y.Value">@y.Text</option>
                }



            </select>
        </div>



        <div class="form-group">
            <label for="exampleFormControlTextarea1">Observaciones</label>
            <textarea class="form-control" id="observacion" rows="3" autocomplete="off" placeholder=""> </textarea>
        </div>

        
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">


                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">



                        <div class="row" style="margin: 20px 10px 10px 10px;">

                            <table id="tbDetalle" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Item</th>
                                        <th style="text-align: center">Id Cerdo</th>
                                        <th style="text-align: center">Cod</th>
                                        <th style="text-align: center">Tipo venta</th>
                                        <th style="text-align: center">Sexo</th>
                                        <th style="text-align: center">Peso</th>
                                        <th style="text-align: center">Valor</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            @*<div class="row" style="margin-top: 10px;">
                                <div class="col-lg-10"></div>
                                <div class="col-lg-2">
                                    <label class="control-label small">Valor Total ($):</label>
                                    <input value="@@Model.BudgetExecute.ToString(N0)" type="text" id="txtTotal" class="form-control" readonly="readonly" style="text-align: right" />
                                </div>
                            </div>*@
                            <div class="row">

                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">


                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label for="Compra">Valor total</label>
                                        <input type="text" readonly disabled class="form-control" id="txtTotal" placeholder="$">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </div>

    </div>
    <div class="modal-footer">
        <button id="btnSave" type="button" class="btn btn-primary" onclick="guardar();" style="margin-top: -3px; background-color:#008080;">
            Guardar
        </button>
        <button type="button" class="btn btn-default" id="cerrar" data-dismiss="modal">
            Cancelar
        </button>

    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

          // Sólo números
        $('#valorindividual').keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }

            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('#btnAgregarDetalle').click(function () {
            swError = false;
            if ($('#Estado').val() == "1") {
                $('#Estado').css({ "border": "solid 1px red", "background": "#FBE3E4" });
                $('#Estado').change();
                swError = true;
            } else {
                $('#Estado').css({ "border": "solid 1px #E5E6E7", "background": "#FFF" });
                $('#Estado').change();
            }
            if ($('#valorindividual').val() == "") {
                $('#valorindividual').css({ "border": "solid 1px red", "background": "#FBE3E4" });
                $('#valorindividual').change();
                swError = true;
            } else {
                $('#valorindividual').css({ "border": "solid 1px #E5E6E7", "background": "#FFF" });
                $('#valorindividual').change();
            }

            if ($('#IdCerdo').val() == "") {
                $('#IdCerdo').css({ "border": "solid 1px red", "background": "#FBE3E4" });
                $('#IdCerdo').change();
                swError = true;
            } else {
                $('#IdCerdo').css({ "border": "solid 1px #E5E6E7", "background": "#FFF" });
                $('#IdCerdo').change();
            }


            if (swError) {
                toastr.error("Digite Información Necesaria", "¡ATENCION!");
                return;
            }






            //var item = document.getElementById("txtDescripcionDetalle").value.toUpperCase();
            var item = document.getElementById("IdCerdo").value;
            var CodigoCerdo = document.getElementById("CodigoCerdo").value;
            var Estado = document.getElementById("Estado").value;
            var peso = document.getElementById("txtpeso").value;
            var sexo = document.getElementById("txtsexo").value;
            var valorpeso = document.getElementById("valorindividual").value;
            var valor = (quitarSeparadorMiles(valorpeso)) * (peso);
            valor = formatoDecimal(valor);

          var $rows = $("#tbDetalle tr");
            var totalRows = $rows.length;
            

           
            for (var rowIndex = 0; rowIndex < totalRows; ++rowIndex) {
                if (rowIndex) {
                    var currentRow = $($rows[rowIndex]);
                    var $cells = currentRow.find("td");
                    var idcerdo = $($cells[1]).text();

                    if (item == idcerdo) {
                        toastr.error("Cerdo ya ingresado", "¡ATENCION!");
                        return;
                    }

                }
            }

        var rowCount = $('#tbDetalle tr').length;
        var editarRow = ' ';
        var eliminarRow = '<a href="javascript:;" onclick="quitarDetalle(\'' + rowCount + '\', this);" title="Quitar detalle"><i class="fa fa-trash" style="font-size: 15px;"></i></a>';

        $('#tbDetalle tbody').append('<tr><td style="text-align: center">' + rowCount + '</td><td>' + item + '</td><td style="text-align: right;">' + CodigoCerdo + '</td><td style="text-align: right;">' + Estado + '</td><td style="text-align: right;">' + sexo + '</td><td>' + peso + '</td><td style="text-align: center;">' + valor + '</td><td style="text-align: center;">' + eliminarRow + '</tr>');

       calcularTotal();

        // LIMPIO LOS CONTROLES DEL ARTÍCULO
        document.getElementById("Estado").value = '1';
        document.getElementById("valorindividual").value = null;
          limpiar(0);
          $("#comboCerdo").val("");
    });




    });



     function quitarDetalle(id, obj) {
        $('#tbDetalle tbody td:first-child').each(function () {
                    if ($(this).text() == id) {
                        $(this).parent().remove();
                        calcularTotal();
                        return false;
                    }
                });

                // Recalcular índice de la tabla
                var $rows = $("#tbDetalle tr");
                var totalRows = $rows.length;
                for (var rowIndex = 0; rowIndex < totalRows; ++rowIndex) {
                    if (rowIndex) {
                        var currentRow = $($rows[rowIndex]);
                        var $cells = currentRow.find("td");

                        var eliminarRow = '<a href="javascript:;" onclick="quitarDetalle(\'' + rowIndex + '\', this);" title="Quitar detalle"><i class="fa fa-trash" style="font-size: 15px;"></i></a>';

                        document.getElementById("tbDetalle").rows[rowIndex].cells[0].innerText = rowIndex;
                        
                        document.getElementById("tbDetalle").rows[rowIndex].cells[7].innerHTML = eliminarRow;
                    }
                }
            }
    
      function calcularTotal() {
        var $rows = $("#tbDetalle tr");
        var totalRows = $rows.length;
        var total = 0;

        $("#txtTotal").val("");
        for (var rowIndex = 0; rowIndex < totalRows; ++rowIndex) {
            if (rowIndex) {
                var currentRow = $($rows[rowIndex]);
                var $cells = currentRow.find("td");
                var $convert = $($cells[6]).text();
                total += parseInt(quitarSeparadorMiles($convert));
            }
        }

        $("#txtTotal").val(formatoDecimal(total));

         
        if (total == 0) {
            $("#txtTotal").val(null);
        }
    }
  

</script>
