﻿ 
@model SistemaDeVentas.Areas.Cerdos.Models.Cerdoss

<div id="divCerdodetalle">

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Compra">Peso</label>
                <input type="text" readonly class="form-control" value="@Model.Peso" autocomplete="off" id="txtpeso" placeholder="">
            </div>
        </div>
        <div class="col-sm-4">

            <div class="form-group">
                <label for="Compra">Sexo</label>
                <input type="text" readonly class="form-control" value="@Model.Sexo" autocomplete="off" id="txtsexo" placeholder="">
            </div>

        </div>
        <div class="col-sm-4">

            <div class="form-group">
                <label for="Compra">Raza</label>
                <input type="text" readonly class="form-control" value="@Model.raza.Nombre" autocomplete="off" id="valor" placeholder="">
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="Compra">Fecha Nacimiento</label>
                <input type="text" readonly class="form-control" value="@Model.fecha_nacimiento" autocomplete="off" id="valor" placeholder="">
            </div>
        </div>
        <div class="col-sm-4">

            <div class="form-group">
                <label for="Compra">Fecha Destete</label>
                <input type="text" readonly class="form-control" value="@Model.fecha_destete" autocomplete="off" id="valor" placeholder="">
            </div>

        </div>

        @if (Model.Sexo == "M")
        {
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Castrado</label>
                    <input type="text" readonly class="form-control" value="@Model.castrado" autocomplete="off" id="valor" placeholder="">
                </div>

            </div>

        }
        else
        {
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Tetas</label>
                    <input type="text" readonly class="form-control" value="@Model.numero_tetas" autocomplete="off" id="valor" placeholder="">
                </div>

            </div>

        }


    </div>

</div>