﻿@model IEnumerable<SistemaDeVentas.Models.Ventas.Clase.Venta>


 
    <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th class="th-sm" style="font-size: 18px;">
                    ID
                </th>
                <th class="th-sm"  style="font-size: 18px;">
                    Cliente
                </th>

                <th class="th-sm"  style="font-size: 18px;">
                    Identificación
                </th>
                <th class="th-sm"  style="font-size: 18px;">
                    Fecha Venta

                </th>

                <th class="th-sm"  style="font-size: 18px;">
                    Total
                </th>
                <th class="th-sm"  style="font-size: 18px;">
                    Estado Venta
                </th>
                <th class="th-sm"  style="font-size: 18px;">
                    Detalle
                </th>

            </tr>
        </thead>
        <tbody>





            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.cliente.nombre</td>
                    <td>@item.cliente.cedula</td>
                    <td>@item.fechaventa</td>

                    <td>@item.Valor</td>
                    <td>@item.estado</td>
                    <td style="text-align:center;">

                        <ul class="list-unstyled">
                            <li>
                                <p class="text-muted">
                                    <i style="color:#A90329;"></i> <a href="#" rel="tooltip" title="" onclick="modaldetalle(@item.Id);" data-placement="bottom" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="        margin: 2px;
        background-color: #008080;
        color: white;"><i class="fa fa-eye"></i></a>
                                </p>
                            </li>
                        </ul>





                    </td>


                </tr>

            }




        </tbody>
        <tfoot>
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    Cliente
                </th>

                <th class="th-sm">
                    Identificación
                </th>
                <th class="th-sm">
                    Fecha Venta

                </th>

                <th class="th-sm">
                    Total
                </th>
                <th class="th-sm">
                    Estado Venta
                </th>
                <th class="th-sm">
                    Detalle
                </th>

            </tr>
        </tfoot>
    </table>