﻿<label for="comboCerdo">Seleccione Cerdo</label>
<select multiple class="form-control" style="height: 107px;" id="comboCerdo" name="comboCerdo" onchange="BuscarCerdo(this);">
    @* <option>Cerdo 1</option>*@
    @foreach (var x in ViewBag.cboCerdosPorCorral)
    {

        <option value="@x.Value">@x.Text</option>
    }

</select>
