﻿@{
    ViewData["Title"] = "Ventas";
}

 
    <div class="cerdos-container">


        <div id="allcode">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-model="mdlObject">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#008080; color:white;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-md"></i> Venta </h4>
                        </div>
                        <div id="divDetail"></div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="divDetailventa"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnanular" onclick="anular();" class="btn btn-danger">Anular</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="padding:30px;">
                <h2>Ventas</h2>
                <div id="content">
                    <div class="row">



                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                        </div>


                    </div>

                    <!-- widget grid -->

                    <section id="widget-grid">
                        <hr style="        border-top: 1px dotted #c7c7c7;
        padding: 0px;
        margin: 0px;" />


                        <!-- row -->
                        <div class="row" style="overflow:auto;">
                            <div class="inbox-checkbox-triggered" style="margin:10px">

                                <div class="btn-group">
                                    <a href="#" id="Add" rel="tooltip" title="" onclick="modal(0);" data-placement="bottom" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin:2px; background-color:#008080;color:white;"><strong><i class="fa fa-plus fa-lg text-danger"></i> Agregar Venta</strong></a>

                                </div>

                            </div>
                            <hr style="border-top:1px dotted #c7c7c7; padding:0px; margin:0px;" />
                            <!-- NEW WIDGET START -->
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <br />
                                <div id="divMaestro">




                                </div>

                            </article>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end widget grid -->

                </div>
            </div>
        </div>
    </div>

<script>

       function reFresh() {

            location.reload(false);

            }

    function guardar() {

        //var preciokg = document.getElementById("").value;
        var cboCliente = document.getElementById("cboCliente").value;
        var txtobservacion = document.getElementById("observacion").value;
        var total = document.getElementById("txtTotal").value;
         swError = false;
            if (cboCliente == "0") {
                $('#cboCliente').css({ "border": "solid 1px red", "background": "#FBE3E4" });
                $('#cboCliente').change();
                swError = true;
            } else {
                $('#cboCliente').css({ "border": "solid 1px #E5E6E7", "background": "#FFF" });
                $('#cboCliente').change();
            }
           

            if (swError) {
                toastr.error("No ha seleccionado cliente", "¡ATENCION!");
                return;
        }



        var listDetalle = [];
                var $rows = $("#tbDetalle tr");
                var totalRows = $rows.length;

                for (var rowIndex = 0; rowIndex < totalRows; ++rowIndex) {
                    if (rowIndex) {
                        var currentRow = $($rows[rowIndex]);
                        var $cells = currentRow.find("td");

                        var cash = false;
                        if ($($cells[6]).text() == "") {
                            cash = false;
                        } else {
                            cash = true;
                        }
                        
                        var itemDetalle = {
                            IdCerdo:  $($cells[1]).text(),
                            Item: rowIndex,
                            Valor: $($cells[6]).text(),
                            Peso: $($cells[5]).text(),
                            TipoVenta: $($cells[3]).text(),
                            ValorKG: formatoDecimal((quitarSeparadorMiles($($cells[6]).text())/$($cells[5]).text()))
                           
                        };
                        listDetalle.push(itemDetalle)
                    }
                }
      

        if (totalRows == 1) {
            toastr.error("Ingrese Cerdos para vender", "¡ATENCION!");
            return;
        }

         var dataPost = {'pListaDetalle': listDetalle,'cliente': cboCliente,'observacion': txtobservacion,'total': total  };

            jQuery.ajax({
                type: "POST",
                url: "/Ventas/Salvar",
                data: dataPost,
                dataType: "json",
                success: function (result) {
                    
                  
                   
                    toastr.info("Guardado", "¡CORRECTO!"); 
                    $('#myModal').modal('toggle');
                   
                    //listarMaestros();
                    window.setInterval("reFresh()",2000);
                    
                }
            });



    }




     function formatoDecimal(pNumero) {
            pNumero += '';
            x = pNumero.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        function quitarSeparadorMiles(pCadena) {
            pCadena = pCadena.replace(",", "").replace(",", "").replace(",", "");
            pCadena = pCadena.replace(".", "").replace(".", "").replace(".", "");
            return pCadena;
        }

    function inputInteger(nombreControl) {

            
            var x = document.getElementById(nombreControl);
            x.value = formatoDecimal(quitarSeparadorMiles(x.value));
        }
     function limpiar(id) {

        $("#IdCerdo").val("");
        var x =  "";
        $("#CodigoCerdo").val(x);

          $.ajax({
                url: '@Url.Action("DetailCerdo", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divCerdo").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
       

    }

    function Buscar(elemento) {

        var criterio = elemento.value;
        var idcorral = $("#IdCorral").val();
        if (idcorral != "") {
             $.ajax({
              url: '@Url.Action("ListadoCerdoPorCorralCriterio", "Ventas")',
              data: { id: idcorral, criterio: criterio },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#selectCerdo").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

        }
         

    }

     function listarMaestros() {

            $.ajax({
                url: '@Url.Action("ListadoMaestro", "Ventas")',
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divMaestro").html(retorno);
                    scripttablas();

                },
                error: function () {
                    alert("Se ha producido un error al cargar");
                }
            });

    }

    function BuscarCerdo(elemento) {

        $("#IdCerdo").val(elemento.value);
        var x =  $('select[name="comboCerdo"] option:selected').text();
        $("#CodigoCerdo").val(x);

          $.ajax({
                url: '@Url.Action("DetailCerdo", "Ventas")',
                data: { id: elemento.value },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divCerdo").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
       

    }
     function SelectCerdo(elemento) {

         $("#Busqueda").val("");
         $("#IdCerdo").val("");
         $("#CodigoCerdo").val("");
         var idcorral = elemento.value;
            $.ajax({
                url: '@Url.Action("ListadoCerdoPorCorral", "Ventas")',
                data: { id: idcorral },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#selectCerdo").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }




       function modal(id) {



            $.ajax({
                url: '@Url.Action("Detail", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divDetail").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }

    function modaldetalle(id) {



            $.ajax({
                url: '@Url.Action("DetailVenta", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divDetailventa").html(retorno);

                    modaldetallecerdos(id);
                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    } function anular() {

        var id = document.getElementById("idventadetalle").value;

            $.ajax({
                url: '@Url.Action("anular", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#exampleModal").toggle();
                    toastr.info("Anulado, Ahora puede disponer de nuevo con los cerdos...", "¡ANULACIÓN CORRECTO!"); 
                      window.setInterval("reFresh()",3000);
                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }

    function modaldetallecerdos(id) {



            $.ajax({
                url: '@Url.Action("DetailVentacerdos", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#cerdosvendidos").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }

     function validaCampos(){
        var seguir = "SI";

            if($.trim(compra) == ""){
           // toastr.error("No ha ingresado Nombre de la compra","Aviso!");
                seguir = "NO";

            }
             if($.trim(tipodecompra) == ""){
           // toastr.error("No ha ingresado Tipo de compra","Aviso!");
                  seguir = "NO";

        }
          if($.trim(valor) == ""){
           // toastr.error("No ha ingresado Valor de la compra","Aviso!");
               seguir = "NO";

        }
        if ($.trim(cantidad) == "" || parseInt(cantidad)==0) {
           // toastr.error("No ha ingresado cantidad","Aviso!");
             seguir = "NO";

        }
          if($.trim(Descripcion) == ""){
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
               seguir = "NO";

        }

        if (seguir == "SI") {
            save();



        } else {
             toastr.error("Asegurese de llenar todos los campos requeridos", "¡ATENCION!");
        }


    }


     function loadStart() {
         $('.solo-numero').keyup(function (){
             this.value = (this.value + '').replace(/[^0-9]/g, '');



         });


        $('#valor').keyup(function (){


            var valor = formatearNumero(this.value);
            $('#valor').val(valor);



         });

          $('.solo-numero').change(function (){


              var valor = $('#valor').val().replace(/,/g, "");
              var cantidad = $('#cantidad').val();

              if (cantidad>=1 && valor>=1) {
                  var calculo = parseInt(valor) * parseInt(cantidad);

              $('#valortotal').val(formatearNumero(calculo));
              }


          });


        $('#btnSave').on('click', function() {
              $('.form-control').each(function(index, item){
                var $input = $(item);
                $input.closest('div').removeClass('has-error');
                if ($input.val().trim() == '' ||  parseInt($input.val())==0) {
                    $input.closest('div').addClass('has-error');


                }
              });

            validaCampos();
        });

        $('#cerrar').on('click', function () {
             listarMaestros();
            });


    }



    function scripttablas() {

$('#dtDynamicVerticalScrollExample').DataTable({
//"scrollY": "50vh",
//"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');




    }


</script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
             listarMaestros();




    });


</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>

    //importamos configuraciones de toastr
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


</script>

