﻿/*
    color principal:#008080;
*/

a {
    text-decoration: none;
}

hr {
    border: 1px dotted #c7c7c7;
}
/*---------------------------------menu-----------------------------------------------------------*/
.menu {
    background: white;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(191,180,191,1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(191,180,191,1);
    box-shadow: 0px 3px 7px 0px rgba(191,180,191,1);
}

.menu-home {
    text-align: center;
    flex-grow: 1;
    background: #008080;
}

    .menu-home a {
        color: white;
    }

.menu-user {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    flex-grow: 3;
    justify-content: flex-end;
    position: relative;
}

.option-menu {
    display: none;
    z-index: 3;
    flex-flow: column wrap;
    background: white;
    position: absolute;
    border: 1px solid gray;
    top: 100%;
    color: #008080;
    right: 10%;
    line-height: 2rem;
}



.text-user {
    padding: 1rem;
    position: relative;
}

    .text-user a {
        color: #008080;
        display: block;
        font-size: 1.3rem !important;
    }


    .text-user i {
        color: #008080;
    }

.img-perfil {
    position: relative;
}

    .img-perfil > img {
        width: 100%;
    }

.item-perfil a {
    padding-left: 1rem;
    border-top: 1px solid gray;
    transition: 0.5s all ease-in-out;
}

.item-out a {
    color: #008080;
    padding-left: 1rem;
    border-top: 1px solid gray;
    transition: 0.5s all ease-in-out;
}







.text-user:hover .option-menu {
    display: flex;
}

.text-user:hover #flecha {
    -webkit-transform: rotateZ(-270deg);
    transform: rotateZ(-270deg);
}


/*----------------------------- vista principal----------------------------*/
.main-menu {
    max-width: 2500px;
    min-height: 900px;
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}


.menu-item {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
    opacity: 0.8;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #008080;
}

.img-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 2;
}

    .img-item i {
        color: #008080;
        font-size: 10rem;
    }

    .img-item img {
        position: absolute;
        width: 100%;
    }

.text-item {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 0.66;
    background: #3282b8;
}

    .text-item a {
        font-size: 2rem;
        color: white;
    }

a:hover {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}
/*-------------------------------------------- vista cerdos -------------------------------------------*/

.cerdos-container {
    display: flex;
    flex-flow: column;
    min-height: 850px;
    padding: 3rem 2rem;
}

.prev-saves {
    display: flex;
    justify-content: flex-start;
}

.prev {
    display: block;
    border: 1px solid #3282b8;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: #3282b8;
    color: white;
    cursor: pointer;
}

.action-register {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border: 1px solid #00bd56;
    background: #00bd56;
}

    .action-register a {
        color: white !important;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 1rem;
        cursor: pointer;
    }

    .action-register i {
        color: white !important;
        font-size: 1rem;
        font-weight: 600;
    }

    .action-register:hover {
        opacity: 0.9;
    }

.prev:hover {
    opacity: 0.9;
}

.cerdos-filter {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
    display: flex;
}

.search {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #3282b8;
}

    .search input {
        order: 2;
        padding: 0.6rem;
        border: none;
    }

    .search input {
        outline-color: #3282b8;
    }

.btn-buscar {
    display: flex;
    order: 2;
}

    .btn-buscar button {
        border: none;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        flex-grow: 1;
        background: #3282b8;
        color: white;
    }

        .btn-buscar button:hover {
            opacity: 0.9;
        }



.table-information {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    border-bottom: 2px solid #ddd;
}


thead {
    background: #008080;
    color: white;
}

th, td {
    padding: 1rem;
}

th {
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.acciones {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}



.action-item {
    margin: 0px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
}

.add-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}


.drop-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.medical-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.birth-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.show-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.move-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.gestation-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}

.service-item {
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    color: #21243d;
    font-weight: 600;
    flex-grow: 1;
}




.action-item:hover {
    opacity: 0.9;
}

/*-------------------------------------modal de informacion de cerdos-------------------------------------------------------------------------------------*/

.list-option {
    margin: 0;
    padding: 0;
    width: 100%;
}

.item-collapse {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: column wrap;
}

    .item-collapse li {
        margin: 5px;
        padding: 0;
        text-align: left;
        transition: 0.5s all ease-in-out;
    }

        .item-collapse li a {
            color: white;
            display: block;
            padding: 10px;
            background: #008080;
            border: 1px solid #008080;
            font-weight: bolder;
        }

            .item-collapse li a:hover {
                opacity: 0.9;
            }




/*-------------------------------------------modales general----------------------------------------------------------------------------------------------*/
.modal-header {
    background: #008080;
    color: white;
}
/*-------------------------------------------Vista registro de usuarios----------------------------------------------------------------------------------------------*/

.registers-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.user-container {
    padding: 1rem;
    margin-top: 15px;
}

.general-user {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.user {
    display: flex;
    flex-flow: row;

   
}



.image {
    max-width: 400px;
}

#imageRgistrar {
    display: flex;
    justify-content: center;
}

#photos {
    border-radius: 50%;
}

.upload-style {
    margin-top: 10px;
    border: 1px solid #008080;
    background: white;
    width: 100px;
    position: relative;
}

    .upload-style:hover {
        opacity: 0.7;
    }

.text-file {
    text-align: center;
    font-size: 20px;
    color: #008080;
}

#files {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}



.user-photo {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: space-around;
}




/*---------------------------------------------------------------Vista eliminacion Cerdos---------------------------------------------------------------------------------*/

.cerdos-remove {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

    .cerdos-remove p {
        font-size: 16px;
    }

    .cerdos-remove h4 {
        font-size: 24px;
    }

    .cerdos-remove h5 {
        font-size: 20px;
    }



.btn-success {
    background: #008080;
    border-color: #008080;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active:hover {
        background: #008080;
        border-color: #008080;
        opacity: 0.9;
    }


/*----------------------------vistas ventas/compras-----------------------------------------------------------*/

.dataTables_scroll {
    overflow: auto;
}

#Compras{
    overflow:auto;
}

/*--------Vista de poblacion------------------------------*/

.poblacion-cerdos{
    display:flex;
    flex-flow:column;
    align-items:flex-start;
    
}

.poblacion-cerdos p{

    font-size:16px;

}
/*----------------------------------------------------responsive----------------------------------------------------------------*/


@media screen and (max-width:768px) {

    .user{

        flex-flow:column;
    }


    .menu-item {
        width: 250px;
    }
}

@media screen and (max-width:425px) {


    .main-menu {
        flex-flow: column wrap;
        align-items: center;
    }
}

@media screen and (max-width:320px) {

    .menu-user {
        justify-content: center;
    }

    .text-user {
        text-align: center;
    }

    .option-menu {
        top: 0;
        right: 0;
        border: none;
        align-items: stretch;
        position: static;
    }

    .main-menu {
        flex-flow: column wrap;
    }
}
