﻿body, html {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


.global-login {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-login {
    margin-top: 2rem;
    width: 400px;
    min-width: 400px;
    display: flex;
    flex-flow: column;
    min-height: 600px;
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.23);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.img-logo {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Caviar Dreams;
    color: #008080;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

img {
    width: 80%;
    display: inline-block;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem 2rem;
}

.input-email {
    margin: 2rem;
    max-width: 300px;
    display: flex;
    flex-flow: row;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #008080;
}



.input-password {
    margin: 2rem;
    max-width: 300px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: 2px solid #008080;
}
.input-error{
    margin:2rem;
}

.input-btn {
    max-width: 400px;
    display: flex;
}

.input-email> input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: black;
    padding: 0.8rem;
    font-size: 1rem;
    flex: 1;
    background-color:transparent;
    
}

.input-password> input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: black;
    padding: 0.8rem;
    font-size: 1rem;
    flex: 1;
    background-color: transparent;
}



.input-btn button {
    outline: none;
    padding: 0.5rem;
    margin: 1rem 1rem;
    width: 300px;
    background: #008080;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #008080;
}

  

.input-container i {
    text-align: center;
    color: #008080;
}

.input-email:hover i {
    font-size: 20px;
    transition: ease-in 0.4s;
}

.input-password:hover i {
    font-size: 20px;
    transition: ease-in 0.4s;
}

.error-message {
    display: flex;
    flex-flow: row;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}

#indexMessage {
    font-size: 0.8rem;
    max-width: 300px;
    word-break: break-all;
    text-align: justify;
    color: black;
}

footer {
    padding: 1rem;
    background: #008080;
    border-top: 1px solid #f5f5ef;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.8rem;
    font-weight: 600;
}

@media only screen and (max-width: 425px) {

    .container-login {
        border: none;
        box-shadow: none;
        width: 100%;
        height: 100%;
    }

    footer {
        align-items: stretch;
        flex-flow: column;
    }

    p {
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}
