﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Hide/rearrange for smaller screens */

@media(min-width:800px){


    .container{
        margin-top:70px;
        max-width:60%;
    }

}
@media screen and (max-width: 767px) {
    /* Hide captions */
}
