﻿@model DataPaginador<InputModelsCerdosMedicamentos>
@{
    ViewData["Title"] = "Control Medicamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width:1200px">


    <div class="row">
        <div class="input-group">
            <a asp-area="ControlMedicamento" asp-page="/Registrar/Registrar" class="btn btn-success">Agregar</a>

        </div>

    </div>
    <br />

    <form asp-area="ControlMedicamento" asp-controller="ControlMedicamento" asp-action="Index" method="get">
        <div class="row">
            <div class=" input-group">
                <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-4" aria-label="Search" autocomplete="off" />
                <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
            </div>

        </div>
    </form>
    <br />

    <div class="row">
        <table class="table table-responsive-lg">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_cerdo_medicamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.numero_corral)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.numero_caravana)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.nombre_medicamento)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Input.cantidad_suministrada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.correo_user)
                    </th>

                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.id_cerdo_medicamento)

                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.fecha)


                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.numero_corral)


                        </td>

                        <td >
                            @Html.DisplayFor(modelItem => item.numero_caravana)


                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.nombre_medicamento)


                        </td>

                        <td >
                            @Html.DisplayFor(modelItem => item.cantidad_suministrada)


                        </td>

                        <td >


                            @Html.DisplayFor(modelItem => item.correo_user)

                        </td>


                        <td>
                            <a asp-area="ControlMedicamento" asp-page="/Registrar/Registrar" asp-route-id="@item.id_cerdo_medicamento" class=" btn btn-success">Editar</a> @*| <a asp-area="ControlAlimentos" asp-page="/Eliminar/Eliminar" asp-route-id="@item.id_alimentos_cerdo" class=" btn btn-danger">Eliminar</a>*@
                        </td>
                    </tr>

                }
            </tbody>
        </table>

        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>


</div>

