﻿@page
@model RegistrarModel
@{
}

<div class="container">
    <form method="post">


        <div class="row" style="display:none;">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_venta"></label>
                    <input class="form-control" id="Inputid_venta" asp-for="Input.id_venta">

                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.TipoVenta" for="InputtipoVenta"></label>
                    @Html.DropDownList("Input.tipoVenta", new SelectList(Model.Input.tipoVentaList, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "InputripoVenta" })


                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.id_cerdo" for="Inputid_cerdo"></label>
                    @Html.DropDownList("Input.id_cerdo", new SelectList(Model.Input.cerdosList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cerdo" })
                    <span asp-validation-for="Input.id_cerdo" class="text-danger"></span>

                </div>
            </div>
            <div class="col-lg-6 col-sm-6">


                <div class="form-group">
                    <label asp-for="Input.id_cliente" for="Inputid_cliente"></label>
                    @Html.DropDownList("Input.id_cliente", new SelectList(Model.Input.clientesList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cliente" })
                    <span asp-validation-for="Input.id_cliente" class="text-danger"></span>

                </div>


            </div>

        </div>


        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.Precio" for="InputPrecio"></label>
                    <input class="form-control" type="number" id="InputPrecio" asp-for="Input.Precio" autocomplete="off">

                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.Peso" for="InputPeso"></label>
                    <input class="form-control" type="number" id="InputPeso" asp-for="Input.Peso" autocomplete="off">

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.PrecioKg" for="InputNombre"></label>
                    <input class="form-control" type="number" id="InputPrecioKg" asp-for="Input.PrecioKg" autocomplete="off">

                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Input.Fecha" for="InputNombre"></label>
                    <input class="form-control" type="date" id="InputFecha" asp-for="Input.Fecha" autocomplete="off">

                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">

                    <input class=" btn btn-primary form-control" type="button" id="InputCalcular"  value="Calcular Precio" autocomplete="off">

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.precio_total" for="Inputprecio_total"></label>
                    <input type="number" id="Inputprecio_total" asp-for="Input.precio_total" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.Observacion" for="InputObservacion"></label>
                    <textarea asp-for="Input.Observacion" class="form-control" id="InputObservacion" autocomplete="off"></textarea>
                </div>
            </div>
        </div>




        <button type="submit" class="btn btn-success">Guardar</button>
        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>

    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}


