﻿@model DataPaginador<InputModelVentas>
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width:1200px;">
<div class="row">
    <div class="input-group">
        <a asp-area="Ventas" asp-page="/Registrar/Registrar" class="btn btn-success">Agregar</a>
    </div>
</div>
<br />
<div class="row">
    <form asp-area="Ventas" asp-controller="Ventas" asp-action="Index" method="get">
        <div class="input-group">
            <input asp-for="Search" placeholder="Buscar.." class="form-control" aria-label="Search" autocomplete="off" />
            <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
        </div>

    </form>
</div>
<br />



<table class="table table-responsive">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.id_venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.TipoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Fecha)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Input.id_cerdo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Input.caravana_cerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.precio_total)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Input.Nombre_Cliente)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Input.correo_empleado)
            </th>
            <th>
                Opciones
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.id_venta)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.TipoVenta)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Fecha)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.id_cerdo)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.caravana_cerdo)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Peso)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.precio_total)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Nombre_Cliente)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.correo_empleado)

            </td>
            <td>
                <a asp-area="Ventas" asp-page="/Registrar/Registrar" asp-route-id="@item.id_venta" class=" btn btn-success">Editar</a>
        </tr>
        }
    </tbody>
</table>


<div>
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>


    </div>

