﻿    @model DataPaginador<InputModelAlimentos>
    
    @{
        ViewData["Title"] = "Alimentos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container" >
        <div class="row">
            <div class="input-group">
                <a asp-area="Alimentos" asp-page="/Registrar/Registrar" class="btn btn-success">Agregar</a>
            </div>
        </div>
        <br />
        <div class="row">
            <form asp-area="Alimentos" asp-controller="Alimentos" asp-action="Index" method="get">
                <div class="input-group">
                    <input asp-for="Search" placeholder="Buscar.." class="form-control " aria-label="Search" autocomplete="off" />
                    <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                </div>

            </form>
        </div>
        <br />



        <table class="table table-responsive">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.valor_bulto)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Input.cantidad)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.Fecha_compra)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.Id)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.Nombre)

                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.valor_bulto)

                        </td>
                   

                        <td>

                            @Html.DisplayFor(modelItem => item.cantidad)

                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.Fecha_compra)

                        </td>
                        <td>
                            <a asp-area="Alimentos" asp-page="/Registrar/Registrar" asp-route-id="@item.Id" class=" btn btn-success">Editar</a> | <a asp-area="Alimentos" asp-page="/Eliminar/Eliminar" asp-route-id="@item.Id" class=" btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>


    </div>

