﻿@page
@model EliminarModel
@{
}



<div class="cerdos-container">

    <div class="cerdos-remove">

        <h4>Eliminar</h4>
        <p>Esta seguro de eliminar el usuario?</p>
        <div>
            <h5>Usuario</h5>

            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Cedula):</strong></span></p>
                <p> @Html.DisplayFor(model => model.Input.Cedula)</p>
            </div>


            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Nombre):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Nombre)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Apellido):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Apellido)</p>
            </div>
            <br />
            <form method="post">
                <a asp-area="Users" asp-controller="Users" asp-action="Index" class="btn btn-primary">Atras</a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            </form>
        </div>

        <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

    </div>



</div>