﻿@page
@model RegistrarGestacionModel
@{
}

<div class="container align-items-center">
    <form method="post">


        <div class="row" style="display:none;">

            <div class="form-group">
                <label asp-for="Input.id_gestacion" for="Inputid_gestacion"></label>
                <input asp-for="Input.id_gestacion" id="Inputid_gestacion" class="form-control" autofocus="autofocus" autocomplete="off" />
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_cerdo" for="Inputid_hembra"></label>
                    @Html.DropDownList("Input.id_cerdo", new SelectList(Model.Input.listaHembras, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cerdo" })
                </div>

            </div>
        </div>

        

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.fecha_inicio" for="Inputfecha_inicio"></label>
                    <input type="date" asp-for="Input.fecha_inicio" class="form-control" id="Inputfecha_inicio" autocomplete="off" required />
                </div>
            </div>
        </div>

       
    


        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>






    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}