﻿@model SistemaDeVentas.Models.Ventas.Clase.Venta


<input type="hidden" id="idventadetalle" value="@Model.Id" />
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Compra">Fecha Venta</label>
            <input type="text" readonly class="form-control" value="@Model.fechaventa" autocomplete="off" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">

        <div class="form-group">
            <label for="Compra">Cliente</label>
            <input type="text" readonly class="form-control" value="@Model.cliente.nombre" autocomplete="off" placeholder="">
        </div>

    </div>
    <div class="col-sm-4">

        <div class="form-group">
            <label for="Compra">Identificación</label>
            <input type="text" readonly class="form-control" value="@Model.cliente.cedula" autocomplete="off" placeholder="">
        </div>

    </div>

</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Compra">Total Unidades</label>
            <input type="text" readonly class="form-control" value="@Model.unidadesvendidas" autocomplete="off" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">

        <div class="form-group">
            <label for="Compra">Coste Total</label>
            <input type="text" readonly class="form-control" value="@Model.Valor" autocomplete="off" placeholder="">
        </div>

    </div>
    <div class="col-sm-4">

        <div class="form-group">
            <label for="Compra">Estado</label>
            <input type="text" readonly class="form-control" value="@Model.estado" autocomplete="off" placeholder="">
        </div>

    </div>

</div>



<div id="cerdosvendidos">


</div>

<div class="row" style="margin-top:10px;padding:10px;">

    <div class="form-group">
        <br />
        <label for="Compra">Observación</label>
        <textarea class="form-control" rows="3">@Model.observacion</textarea>

    </div>

</div>
<div class="row" style="margin-top:10px;padding:10px;">

    <div class="form-group">
    

        @using (Html.BeginForm("ExportReporteFactura", "Reportes", new { id = Model.Id,nombre=Model.cliente.nombre,fecha=Model.fechaventa }, FormMethod.Post))
        {
        <button id="btnExport" type="submit" class="btn btn-default" style="margin-top: 24px;" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'> </i> Exportando">
            <i class="fa fa-file-excel-o fa fa-refresh fa-lg" style="color:green;"></i>
            Exportar

        </button>
        }

    </div>

</div>

