﻿
@using (Html.BeginForm("ExportReporteCliente", "Reportes", new { id = ViewBag.Idcliente,f1 =ViewBag.f1,f2 =ViewBag.f2 }, FormMethod.Post))
{
    <button id="btnExport" type="submit" class="btn btn-default" style="margin-top: 24px;" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'> </i> Exportando">
        <i class="fa fa-file-excel-o fa fa-refresh fa-lg" style="color:green;"></i>
        Exportar

    </button>
}