﻿@model IEnumerable<SistemaDeVentas.Models.Ventas.Clase.Venta>
    <div style="padding:10px;overflow:auto;">
        
        <br />
       <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="80%">
      
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Cedula</th>
                    <th>Fecha Venta</th>
                    <th>Saldo</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>

                    <td>@item.cliente.nombre</td>
                    <td>@item.cliente.cedula</td>
                    <td>@item.fechaventa</td>

                    <td>@item.Valor</td>
                    <td style="text-align:center;">

                        <ul class="list-unstyled">
                            <li>
                                <p class="text-muted">
                                    <i style="color:#A90329;"></i> <a href="#" rel="tooltip" title="" onclick="modal(@item.Id);" data-placement="bottom" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="margin:2px; background-color:#008080;color:white;"><i class="fa fa-eye"></i></a>
                                </p>
                            </li>
                        </ul>





                    </td>
                </tr>

                }


            </tbody>
        </table>


    </div>
 