﻿@model  Compra

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label>Total:</label>
                <input  asp-for="total" id="total" class="form-control"   readonly="readonly"/>

            </div>
        </div>
        
        
        

    </div>

<script>
    formateartotalcompras();
</script>