﻿@model IEnumerable<SistemaDeVentas.Models.Compras.Clase.Compra>


@{

    string suma = "";

}

<table id="dtVerticalScrollExample2" class="table table-striped table-bordered table-sm" cellspacing="0"
       width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                ID
            </th>
            <th class="th-sm">
                Tipo
            </th>
            <th class="th-sm">
                Nombre
            </th>

            <th class="th-sm">
                Fecha
            </th>
            <th class="th-sm">
                Cant

            </th>
            <th class="th-sm">
                Valor
            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TipoDeCompra</td>
                <td>@item.Nombre</td>
                <td>@item.FechaCreado</td>
                <td>@item.Cantidad</td>
                <td>@item.ValorIndividual</td>




            </tr>
        }



    </tbody>

</table>

<script>
     @*totalesCompras(@suma);*@
</script>
@*<div class="row" style="padding: 10px;">

    <div class="col-md-6">
        <div class="form-group">
            <label>Total:</label>
            <input class="form-control" readonly disabled type="text" id="totalcompras" name="totalcompras" value="0">

        </div>
    </div>




</div>*@

