﻿@model IEnumerable<SistemaDeVentas.Models.Nomina.Clase.Empleado>



    <table id="dtDynamicVerticalScrollExample2" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th class="th-sm">
                    ID
                </th>

                <th class="th-sm">
                    Nombre
                </th>

                <th class="th-sm">
                    Cargo

                </th>

                <th class="th-sm">
                    Fecha
                </th>
                <th class="th-sm">
                    Pago
                </th>



            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Identificacion</td>

                    <td>@item.Nombre</td>

                    <td>@item.Cargo</td>

                    <td>@item.FechaUltimoPago</td>
                    <td>@item.ValorUltimoPago</td>
                  



                </tr>
            }



        </tbody>

    </table>