﻿@model  poblacion


    <div class="poblacion-cerdos">

        <p>@Html.DisplayNameFor(m=>m.poblacionTotal): @Html.DisplayFor(m => m.poblacionTotal)</p>

        <p>@Html.DisplayNameFor(m=>m.lechones): @Html.DisplayFor(m => m.lechones)</p>
        <p>@Html.DisplayNameFor(m=>m.padrote): @Html.DisplayFor(m => m.padrote)</p>
        <p>@Html.DisplayNameFor(m=>m.reproductora): @Html.DisplayFor(m => m.reproductora)</p>
        <p>@Html.DisplayNameFor(m=>m.cuchilla): @Html.DisplayFor(m => m.cuchilla)</p>
        <p>@Html.DisplayNameFor(m=>m.levante): @Html.DisplayFor(m => m.levante)</p>
        <p>@Html.DisplayNameFor(m=>m.gestante): @Html.DisplayFor(m => m.gestante)</p>
        <p>@Html.DisplayNameFor(m=>m.lactancia): @Html.DisplayFor(m => m.lactancia)</p>
        <p>@Html.DisplayNameFor(m=>m.inicio): @Html.DisplayFor(m => m.inicio)</p>



    </div>