﻿
@{
    ViewData["Title"] = "Reportes";

  
}





<br />

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="divDetailventa"></div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="btnanular" onclick="anular();" class="btn btn-danger">Anular</button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div id="ventasModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Reporte De Ventas <span></span> </h2>
            </div>

            <div class="modal-body">







            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cerrar</button>

            </div>


        </div>

    </div>
</div>
<div class="cerdos-container" >
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <label>Fecha desde:</label>
                <div class='input-group date' id='datetimepicker2'>

                    <input type='date' id="date1" onchange="ConsultarReporte();" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">


                    <label for="date2">Fecha hasta:</label>
                    <div class='input-group date' id='datetimepicker2'>

                        <input type='date' id="date2" onchange="ConsultarReporte();" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="prueba"></div>

    <div id="contenedor">

        <div class="container" >

            <div class="panel panel-default">
                <div class="panel-heading" style="padding:0px;">
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="nav-item"><a href="" onclick="ConsultarReporte();" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase"><i class="fas fa-edit" aria-hidden="true"></i> General</a></li>
                        <li class="nav-item"><a href="" onclick="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active"> <i class="fas fa-dollar-sign"></i> Ventas</a></li>
                        <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase"><i class="fas fa-tags" aria-hidden="true"></i> Compras</a></li>
                        <li class="nav-item"><a href="" data-target="#poblacion" data-toggle="tab" class="nav-link small text-uppercase"> <i class="fas fa-fw fa-piggy-bank" aria-hidden="true"></i> Población</a></li>
                    </ul>

                </div>
                <div class="panel-body">

                    <div id="tabsContent" class="tab-content">
                        <div id="home1" class="tab-pane fade">

                            <div id="chartContainer" style="height: 422px; width: 100%;"></div>

                        </div>
                        <div id="profile1" class="tab-pane fade active show">
                            <div class="row pb-2">
                                <div style="padding:10px;">
                                    <div class="row">



                                        <div class="col-sm-4">
                                            <label for="cbocliente">Cliente</label>
                                            <select id="cbocliente" class="form-control" onchange="filtrocliente(this);">

                                                <option value="">SELECCIONE</option>


                                                @foreach (var x in ViewBag.cboClientes)
                                                {
                                                    <option value="@x.Value">@x.Text</option>

                                                }

                                            </select>


                                        </div>
                                        <div class="col-sm-6">

                                            <div id="exportview">

                                            </div>
                                        </div>
                                    </div>

                                   
                                </div>
                                <div id="divVentas">

                                </div>
                                <div class="row" style="padding: 10px;">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Total:</label>
                                            <input class="form-control" readonly disabled type="text" id="totalventas" name="totalventas" value="">

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div id="messages1" class="tab-pane fade">
                            <div class="row">

                                <div class="col-sm-6">
                                    <label for="options-items">Filtrar por tipo de compra</label>
                                    <select class="form-control" onchange="compras();" id="options-items">
                                        <option value="">Seleccione</option>
                                        <option value="Alimento">Alimento</option>
                                        <option value="Medicamento">Medicamento</option>
                                        <option value="Veterinario">Veterinario</option>
                                        <option value="Infraestructura">Infraestructura</option>
                                        <option value="Transporte">Transporte</option>
                                        <option value="Servicio">Servicio</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                   
                                        <button id="btnExport" onclick="exportarCompras()" type="submit" class="btn btn-default" style="margin-top: 24px;" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'> </i> Exportando">
                                            <i class="fa fa-file-excel-o fa fa-refresh fa-lg text-success"></i>
                                            Exportar

                                        </button>

                                  
                                </div>




                            </div>
                            <br />
                            <div class="row" style="padding:10px;">

                                <div id="Compras">
                                </div>

                                <div id="netoCompras">



                                </div>


                            </div>

                        </div>
                        <div id="poblacion" class="tab-pane fade">
                            <div class="row" style="padding:10px;">

                                <button class="btn btn-success" data-toggle="modal" data-target="#cerdoModal" onclick="poblacionCerdo()">Población<span> <i class="fas fa-fw fa-piggy-bank" aria-hidden="true"></i></span></button>

                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>

    </div>

</div>
<!-- Modal -->
<div id="cerdoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Población  <span> <i class="fas fa-fw fa-piggy-bank"></i></span> </h2>
            </div>

            <div class="modal-body">


                <div class="row">
                    <div class="col-sm-6">
                        <label>Fecha desde:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='date' id="datePoblacion1" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">

                            <label>Fecha hasta:</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='date' id="datePoblacion2" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">

                        <button class=" btn btn-success col-sm-6 " style="margin-top:24px;" onclick="poblacionCerdoBusqueda()"><span> <i class="fas fa-search"></i></span></button>
                    </div>
                </div>

                <br />
                <div id="cerdos">
                </div>



            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cerrar</button>

            </div>


        </div>

    </div>
</div>

<!-- Modal -->
<div id="compraModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Reporte de compras <span><i class="fas fa-tags"></i></span> </h2>
            </div>

            <div class="modal-body">




                @*<div class="row">

                        <div class="col-sm-6">
                            <label for="options-items">Filtrar por tipo de compra</label>
                            <select class="form-control" onchange="
                    ;"  id="options-items">
                                <option value="">Seleccione</option>
                                <option value="Alimento">Alimento</option>
                                <option value="Medicamento">Medicamento</option>
                                <option value="Veterinario">Veterinario</option>
                                <option value="Infraestructura">Infraestructura</option>
                                <option value="Transporte">Transporte</option>
                                <option value="Servicio">Servicio</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>

                        <div class="col-sm-6">

                            <button class=" btn btn-success col-sm-6 " style="margin-top:24px;" onclick="compras()"><span> <i class="fas fa-search"></i></span></button>
                        </div>
                    </div>*@

                <br />
                <div id="Compras">
                </div>

                <div id="netoCompras"></div>



            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cerrar</button>

            </div>


        </div>

    </div>
</div>
<script>


    function exportarCompras() {

         var tipoCompra = $("#options-items").find('option:selected').val();
            var f1 = $("#date1").val();
            var f2 = $("#date2").val();
       
        window.location = '@Url.Action("ExportCompras","Reportes")?f1=' +f1+'&f2='+f2+'&tipoCompra='+tipoCompra;
         



       

    }





        function modal(id) {



            $.ajax({
            url: '@Url.Action("DetailVenta", "Reportes")',
                data: {id:id},
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divDetailventa").html(retorno);
                    modaldetallecerdos(id);

                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

        }

        function modaldetallecerdos(id) {



            $.ajax({
            url: '@Url.Action("DetailVentacerdos", "Ventas")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#cerdosvendidos").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

        }
        function filtrocliente(elemento) {
            var id = elemento.value;

            var f1 = $("#date1").val();
            var f2 = $("#date2").val();

            

            
          $.ajax({
            url: '@Url.Action("ListadoMaestroVentasCliente", "Reportes")',
                data: { f1: f1,f2:f2,id:id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divVentas").html(retorno);
$('#dtDynamicVerticalScrollExample').DataTable({
                        //"scrollY": "100vh",
                        "scrollCollapse": true,
});
                    //$('.dataTables_length').addClass('bs-select');

                },
                error: function () {
                    alert("Se ha producido un error con el filtro");
                }
            });


         $.ajax({
            url: '@Url.Action("ExportButton", "Reportes")',
                data: { f1: f1,f2:f2,id:id},
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#exportview").html(retorno);

                },
                error: function (retorno) {

                    alert("Se ha producido un error");
                }
            });

                
        }

        function Export() {

            $.smallBox({
            title: "Exportación Hecha",
                content: "<i class='fa fa-clock-o'></i> <i>Exportado</i>",
                color: "#659265",
                iconSmall: "fa fa-check fa-2x fadeInRight animated",
                timeout: 5000
            });

        }

        function totalesCompras(c) {
        $("#totalcompras").val(formatoDecimal(c));
        }

    function totalesVentas(v) {
        if (v == undefined) {
            //alert(v);
             $("#totalventas").val("0");
        } else {
             $("#totalventas").val(formatoDecimal(v));
        }
       
       
        }
        function remove() {


        $("#Compras").empty();
          $("#netoCompras").empty();
        }

        function compras() {

            var f1 = $("#date1").val();
            var f2 = $("#date2").val();


            if (f1 != "" && f2 != "") {

                var tipoCompra = $("#options-items").find('option:selected').val();


                ListarCompras(f1, f2, tipoCompra);
                ListarNetoCompras(f1, f2,tipoCompra)






        } else {

                iziToast.show({

                title: "Warning",
                        message: "No ha seleccionado fecha inicial o final de busqueda",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                       });
            }


        }

        function ListarCompras(f1, f2, tipocompra) {


        $.ajax({
            type: "post",
            url: '@Url.Action("ListadoMaestroCompras","Reportes")',
            data: { f1: f1, f2: f2,tipoCompra:tipocompra!=null ? tipocompra :null },
            cache: false,
            success: function (response) {

                $("#Compras").html(response);

$('#dtVerticalScrollExample2').DataTable({
                        //"scrollY": "200px",
                        //"scrollCollapse": true,
                    });
$('.dataTables_length').addClass('bs-select');


                },
            error: function (error) {

                    iziToast.show({

                    title: "Warning",
                    message: "Ha ocurrido un error, intente mas tarde",
                    color: "red",
                    theme: "light",
                    position: "topCenter"
                    });
                }



            });

        }

        function ListarNetoCompras(f1,f2,tipocompra) {

        $.ajax({
            type: "post",
            url: '@Url.Action("ListarNetoCompras","Reportes")',
            data: { f1: f1, f2: f2,tipoCompra:tipocompra!=null ? tipocompra :null },
            cache: false,
            success: function (response) {

                $("#netoCompras").html(response);

                },
            error: function (error) {

                    iziToast.show({

                    title: "Warning",
                    message: "Ha ocurrido un error, intente mas tarde",
                    color: "red",
                    theme: "light",
                    position: "topCenter"
                    });
                }



            });

            //alert($("#total").val());
            //$("#total").val(formatoDecimal($("#total").val()));
    }

    function formateartotalcompras() {
    $("#total").val(formatoDecimal($("#total").val()));
    }

    function ConsultarReporte() {
        $("#cbocliente").val("");
            var f1 = $("#date1").val();
            var f2 = $("#date2").val();

          $.ajax({
            url: '@Url.Action("ReporteGeneral", "Reportes")',
                data: { f1: f1,f2:f2 },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#prueba").html(retorno);


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

            ConsultarVentas();
            ConsultarCompras();

            // ConsultarNomina();
            //$('#home1').click();
            //click_event = new CustomEvent('click');
            //btn_element = document.querySelector('#home1');
            //btn_element.dispatchEvent(click_event);
            filtrocliente(document.getElementById("cbocliente"));

        }

        function ConsultarVentas() {
            var f1 = $("#date1").val();
            var f2 = $("#date2").val();

          $.ajax({
            url: '@Url.Action("ListadoMaestroVentas", "Reportes")',
                data: { f1: f1,f2:f2 },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divVentas").html(retorno);
$('#dtDynamicVerticalScrollExample').DataTable({
                        //"scrollY": "100vh",
                        "scrollCollapse": true,
});
                    //$('.dataTables_length').addClass('bs-select');

                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }




        function ConsultarNomina() {
            var f1 = $("#date1").val();
            var f2 = $("#date2").val();

          $.ajax({
            url: '@Url.Action("ListadoMaestroNomina", "Reportes")',
                data: { f1: f1,f2:f2 },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divEmpleados").html(retorno);
$('#dtDynamicVerticalScrollExample2').DataTable({
                        "scrollY": "50vh",
"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');

                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }


        function ConsultarCompras() {
            var f1 = $("#date1").val();
            var f2 = $("#date2").val();

          $.ajax({
            url: '@Url.Action("ListadoMaestroCompras", "Reportes")',
                data: { f1: f1,f2:f2 },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#Compras").html(retorno);
$('#dtVerticalScrollExample2').DataTable({
                        //"scrollY": "200px",
                        //"scrollCollapse": true,
                    });
                    $('.dataTables_length').addClass('bs-select');

                    ListarNetoCompras(f1, f2);
                  

                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }
        function load() {

        @*alert(@DateTime.Now.ToString("dd/MM/yyyy"));*@
       // $("#date2").val("2020-03-19");
        $("#date2").val("@DateTime.Now.ToString("yyyy-MM-dd")");

        @{DateTime orderDate = DateTime.Now.AddDays(-30);}

        $("#date1").val("@orderDate.ToString("yyyy-MM-dd")");

        ConsultarReporte();
    }

     function formatoDecimal(pNumero) {
            pNumero += '';
            x = pNumero.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        function quitarSeparadorMiles(pCadena) {
            pCadena = pCadena.replace(",", "").replace(",", "").replace(",", "");
            pCadena = pCadena.replace(".", "").replace(".", "").replace(".", "");
            return pCadena;
        }
    function grafico(numeroventas, sumaventas, numerocompras, sumacompras, numeropagos, sumapagos) {
         var f1 = $("#date1").val();
        var f2 = $("#date2").val();
        //numeroventas = numeroventas + " es decir " + formatoDecimal(sumaventas);
        //numerocompras = numerocompras + " es decir " + formatoDecimal(sumacompras);
       // alert(sumaventas);
          var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "     Gastos Vs Ganancia"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}</strong>",
                indexLabel: "{name}: {y} {c}",
                dataPoints: [
                    { y: sumaventas, name: "Ventas",c:" - "+ numeroventas, exploded: true },
                    //{ y: numeroventas, name: "Ventas ($" + formatoDecimal(sumaventas) + ")", exploded: true },
                    { y: sumacompras, name: "Gastos",c:" - "+ numerocompras}
                    //{ y: numeropagos, name: "Pagos De Nomina ($" + formatoDecimal(sumapagos) + ")" }



                    //  { y: sumaventas, name: "Ventas",c:" = "+ formatoDecimal(sumaventas), exploded: true },
                    ////{ y: numeroventas, name: "Ventas ($" + formatoDecimal(sumaventas) + ")", exploded: true },
                    //{ y: sumacompras, name: "Gastos",c:" = "+ formatoDecimal(sumacompras)}
                    ////{ y: numeropagos, name: "Pagos De Nomina ($" + formatoDecimal(sumapagos) + ")" }

                ]
            }]
        });
        chart.render();
        //$(".canvasjs-chart-canvas").css("color:white");
        //$(".canvasjs-chart-canvas").css("color:white");
        //$("canvas").css("margin-left", "26%");
    }
 window.onload = function () {
     load();

    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }

    function poblacionCerdo() {

         var f1 = $("#datePoblacion1").val();
        var f2 = $("#datePoblacion2").val();
        $("#datePoblacion1").val('');
        $("#datePoblacion2").val('');




        $.ajax({

            url:'@Url.Action("Poblacion","Reportes")',
            type: 'json',
             type:"POST",
            cache: false,
            data:{ f1: f1!=null ?f1:null, f2: f2!=null ? f2:null },
            success: function (response) {

                $('#cerdos').html(response);

            },

            error: function (error) {

                iziToast.show({

                    title: "Warning",
                    message: "Ha ocurrido un error, intente mas tarde ",
                    color: "red",
                    theme: "light",
                    position: "topCenter"
                });

            }



        });
    }


     function poblacionCerdoBusqueda() {

         var f1 = $("#datePoblacion1").val();
         var f2 = $("#datePoblacion2").val();


         if (f1 != "" && f2 != "") {

             $.ajax({

                 url: '@Url.Action("Poblacion","Reportes")',
                 type: 'json',
                 type: "POST",
                 cache: false,
                 data: { f1: f1, f2: f2 },
                 success: function (response) {

                     $('#cerdos').html(response);

                 },

                 error: function (error) {

                     iziToast.show({

                         title: "Warning",
                         message: "Ha ocurrido un error, intente mas tarde ",
                         color: "red",
                         theme: "light",
                         position: "topCenter"
                     });

                 }



             });

         } else {

              iziToast.show({

                        title: "Warning",
                        message: "No ha seleccionado fecha inicial o final de busqueda",
                        color: "red",
                        theme: "light",
                        position: "topCenter"
                    });
         }
    }




</script>
<!-- Minified Bootstrap CSS -->


<script src="https://code.jquery.com/jquery-1.9.1.min.js">

    $(document).ready(function () {


    });


</script>