﻿@model DataPaginador<InputModelsCerdos>



            @{
    ViewData["Title"] = "Razas";
    Layout = "~/Views/Shared/_Layout.cshtml";
            }

            <div class="container">


                <div class="row">
                    <div class="input-group">
                        <a asp-area="Cerdos" asp-page="/RegistrarRaza/RegistrarRaza" class="btn btn-success">Agregar</a>

                    </div>

                </div>
                <br />

                <form asp-area="Cerdos" asp-controller="Cerdos" asp-action="Razas" method="get">
                    <div class="row">
                        <div class=" input-group">
                            <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-4" aria-label="Search" autocomplete="off" />
                            <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                        </div>
                        
                    </div>
                </form>
                <br />

                <div class="row">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Input.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Input.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Input.Descripcion)
                                </th>

                                <th>
                                    Opciones
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                            <tr>
                                <td>

                                    @Html.DisplayFor(modelItem => item.ID)

                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Nombre)

                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.Descripcion)

                                </td>

                                <td>
                                    <a asp-area="Cerdos" asp-page="/RegistrarRaza/RegistrarRaza" asp-route-id="@item.ID" class=" btn btn-success">Editar</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    <div>
                        Resultados @Html.Raw(Model.Pagi_info)
                        <br />
                        @Html.Raw(Model.Pagi_navegacion)
                    </div>
                </div>


            </div>



