﻿
@model InputModelsTraslado


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Traslado</h4>
</div>

    <div class="modal-body">

        <div class="container-fluid">
            <form>

                <div class="row">

                    <div class="col-sm-12">

                        <div class="form-group-sm">
                            <label asp-for="codigo_cerdo" for="codigo_cerdo"></label>
                            <input type="text" name="codigo" class="form-control" asp-for="codigo_cerdo" id="codigo_cerdo" readonly="readonly" />
                        </div>

                        <br />

                        <div class="form-group">
                            <label asp-for="id_corral" for="id_corral"></label>
                            @Html.DropDownList("id_corral", new SelectList(Model.corrales, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "id_corral" })
                            <span asp-validation-for="id_corral" class="text-danger"></span>

                        </div>
                        <br />

                        <div class="form-group">
                            <label asp-for="causas" for="causas"></label>
                            <textarea asp-for="causas" id="causas" name="causas" class="form-control"></textarea>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <p class="text-danger">
                        @Html.DisplayFor(m => m.ErrorMessage)
                    </p>
                </div>

                <button type="submit" class="btn btn-success" onclick="saveTraslado(@Model.codigo_cerdo)">Guardar</button>
            </form>
        </div>

    </div>


<div class="modal-footer">
   
    <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

</div>






