﻿@page
@model RegistrarModel

@{



}

<div class="cerdos-container">



    <div class="prev-saves">
        <a asp-area="Users" asp-controller="Users" asp-action="Index" class="prev">&#10094;</a>
    </div>



    <div class="register-containers" >

        <div class="title-container">
            <h1>Registro de Usuario</h1>
        </div>



        <div class="user-container">




            <form method="post" enctype="multipart/form-data">

                <div class="general-user">
                    <div class="user">

                        <div class="user-photo">

                            <div class="image">
                                <output id="imageRgistrar">
                                    <img src="~/images/photos/Users/default.jpg" id="photos" alt="Perfil" />
                                </output>
                            </div>

                            <div class="upload-style">
                                <p class="text-file"><i class="fas fa-upload"></i></p>
                                <input asp-for="Input.AvatarImage" accept="image/*" type="file" id="files">
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Nombre" for="inputNombre"></label>
                                        <input asp-for="Input.Nombre" class="form-control" id="inputNombre" placeholder="Nombre" autofocus="autofocus" autocomplete="off" />

                                        <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label asp-for="Input.Apellido" for="inputApellido"></label>
                                        <input asp-for="Input.Apellido" class="form-control" id="inputApellido" placeholder="Apellido" autocomplete="off" />

                                        <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="Input.Cedula" for="inputCedula"></label>
                                    <input asp-for="Input.Cedula" class="form-control" id="inputCedula" placeholder="Cedula" autofocus="autofocus" autocomplete="off" />

                                    <span asp-validation-for="Input.Cedula" class="text-danger"></span>
                                </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="Input.Telefono" for="inputTelefono"></label>
                                    <input asp-for="Input.Telefono" class="form-control" id="inputTelefono" placeholder="Telefono" autocomplete="off" />

                                    <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                                </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group ">
                                    <label asp-for="Input.Email" for="inputEmail"></label>
                                    <input asp-for="Input.Email" class="form-control" id="inputEmail" placeholder="Email address" autofocus="autofocus" autocomplete="off" />

                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                <div id="divPassword" class="form-group ">
                                    <label asp-for="Input.Password" for="inputPassword"></label>
                                    <input asp-for="Input.Password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" />

                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>Rol</label>
                                    @Html.DropDownList("Input.Role", new SelectList(Model.Input.rolesLista, "Text", "Text"), "Seleccione un role", htmlAttributes: new { @class = "form-control" })
                                </div>
                                </div>
                            </div>
                        </div>




                    </div>

                    <br />
                    <div class="row">
                        <button type="submit" class="btn btn-success" style="width:300px;">Guardar</button>
                    </div>

                    <div class="errorMessage">
                        <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
                    </div>

                </div>

            </form>
        </div>

    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}