﻿@model  InputModelsGestacion


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Gestación</h4>
</div>
<form method="POST" action="@Url.Action("addGestacion","Cerdos")">
    <div class="modal-body">

        <div class="container-fluid">


            <div class="row">

                <div class="col-sm-12">

                    <div class="form-group-sm">
                        <label asp-for="caravana_hembra" for="caravana_hembra"></label>
                        <input type="text" name="codigo" class="form-control" asp-for="caravana_hembra" id="caravana_hembra" readonly="readonly" />
                    </div>
                    <br />

                    <div class="form-group-sm">
                        <label asp-for="fecha_inicio" for="fecha_inicio"></label>
                        <input type="date" asp-for="fecha_inicio" name="fecha_inicio" class="form-control" id="fecha_inicio" autocomplete="off" required />
                    </div>

                </div>

            </div>

            <div class="row">
                <p class="text-danger">
                    @Html.DisplayFor(m => m.ErrorMessage)
                </p>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

    </div>
</form>
    <div class="modal-footer">
      
        <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

    </div>





