﻿@page
@model RegistrarModel
@{
}

<div class="cerdos-container">


    <div class="prev-saves">
        <a asp-area="Clientes" asp-controller="Clientes" asp-action="Index" class="prev">&#10094;</a>
    </div>


    <div class="register-container">

        <div class="title-container">
            <h3>Registro de Cliente</h3>
        </div>



        <form method="post">
            <div class="row" style="display:none;">
                <div class="col-lg-3 col-sm-3">
                    <div class="form-group">
                        <label asp-for="Input.id_clientes" for="id_clientes"></label>
                        <input class="form-control" id="id_clientes" asp-for="Input.id_clientes">

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.nombre"></label>
                        <input class="form-control" id="Inputnombre" asp-for="Input.nombre">
                        <span asp-validation-for="Input.nombre" class="text-danger"></span>


                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label for="input.cedula">Identificación</label>
                        <input class="form-control" type="text" id="Input.cedula" asp-for="Input.cedula">
                        <span asp-validation-for="Input.cedula" class="text-danger"></span>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.telefono"></label>
                        <input class="form-control" type="tel" id="Inputelefono" asp-for="Input.telefono">
                        <span asp-validation-for="Input.telefono" class="text-danger"></span>


                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.direccion"></label>
                        <input type="text" class="form-control" id="Inputdireccion" asp-for="Input.direccion">
                        <span asp-validation-for="Input.direccion" class="text-danger"></span>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.correo"></label>
                        <input class="form-control" type="text" id="Inputpais" asp-for="Input.correo" maxlength="255">
                        <span asp-validation-for="Input.correo" class="text-danger"></span>


                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <div class="form-group">
                        <label asp-for="Input.fecha"></label>
                        <input type="date" asp-for="Input.fecha" id="Inputfecha" class="form-control" />
                        <span asp-validation-for="Input.fecha" class="text-danger"></span>


                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Input.comentario"></label>
                        <textarea class="form-control" asp-for="Input.comentario" id="Inputcomentario"></textarea>

                    </div>
                </div>


            </div>


            <button type="submit" class="btn btn-success">Guardar</button>
            <div class="errorMessage">
                <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
            </div>

        </form>
    </div>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
