﻿@page
@model EliminarModel
@{
}


    <div class="cerdos-container">

        <div class="cerdos-remove">
            <h4>Eliminar</h4>
            <p>Esta seguro de eliminar el Cliente?</p>
            <div>
                <h5>Cliente</h5>


                <p><span><strong>@Html.DisplayNameFor(model => model.Input.id_clientes):</strong></span></p>
                <p> @Html.DisplayFor(model => model.Input.id_clientes)</p>

                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.nombre):</strong></span></p><p>@Html.DisplayFor(model => model.Input.nombre)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.cedula):</strong></span></p><p>@Html.DisplayFor(model => model.Input.cedula)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.telefono):</strong></span></p><p>@Html.DisplayFor(model => model.Input.telefono)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.fecha):</strong></span></p><p>@Html.DisplayFor(model => model.Input.fecha)</p>
                </div>
                <div class="col-lg-12">
                    <p><span><strong>@Html.DisplayNameFor(model => model.Input.direccion):</strong></span></p><p>@Html.DisplayFor(model => model.Input.direccion)</p>
                </div>
                
                <br />
                <form method="post">
                    <a asp-area="Clientes" asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Atras</a>
                    <input type="submit" value="Eliminar" class="btn btn-danger" />

                </form>
            </div>

            <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

        </div>



    </div>