﻿@model InputModelsServicio

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Servicio</h4>
</div>
<form action="@Url.Action("PeticionServicio","Cerdos")" method="POST">
    <div class="modal-body">

        <div class="container-fluid">


            <div class="row">

                <div class="col-sm-12">



                    <div class="form-group-sm">
                        <label asp-for="caravana_macho"></label>
                        <input asp-for="caravana_macho" readonly="readonly" class="form-control" name="codigo" />
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="caravana_hembra" for="@Model.caravana_hembra"></label>
                        @Html.DropDownList("caravana_hembra", new SelectList(Model.listaHembras, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "caravana_hembra", @name = "codeFemale",@required="required" })
                        <span asp-validation-for="caravana_hembra" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="fecha_servicio" for="fecha_servicio"></label>
                        <input type="date" asp-for="fecha_servicio" class="form-control" id="fecha_servicio" autocomplete="off" required name="fecha" />
                        <span asp-validation-for="fecha_servicio" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="servicioExitoso" for="@Model.servicioExitoso"></label>
                        @Html.DropDownList("servicioExitoso", new SelectList(Model.servicioExitoso, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "servicioExitoso", @name = "service",@required="required" })
                        <span asp-validation-for="servicioExitoso" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="Observacion" for="Observacion"></label>
                        <textarea asp-for="Observacion" id="Observacion" name="observacion" class="form-control"></textarea>
                    </div>






                </div>

            </div>
            <button type="submit" class="btn btn-success">Guardar</button>

        </div>


    </div>
</form>
<div class="modal-footer">

   
    <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

</div>

