﻿@model SistemaDeVentas.Models.Dao.Clases.Usuario

@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="main-menu">

        <div class="menu-item">

            <div class="img-item">
                <a asp-action="Index" asp-area="Cerdos" asp-controller="Cerdos">
                    <i class="fas fa-fw fa-piggy-bank"></i>
                </a>
            </div>
            <div class="text-item">
                <a asp-action="Index" asp-area="Cerdos" asp-controller="Cerdos">Cerdos</a>
            </div>
        </div>
        <div class="menu-item">
            <div class="img-item">
                <a asp-action="Ventas" asp-area="Ventas" asp-controller="Ventas">
                    <i class="fas fa-dollar-sign"></i>
                </a>
            </div>
            <div class="text-item">
                <a asp-action="Ventas" asp-area="Ventas" asp-controller="Ventas">Ventas</a>
            </div>
        </div>
        <div class="menu-item">
            <div class="img-item">
                <a asp-action="Compras" asp-area="Compras" asp-controller="Compras">
                    <i class="fas fa-shopping-cart"></i>
                </a>

            </div>
            <div class="text-item">
                <a asp-action="Compras" asp-area="Compras" asp-controller="Compras">Compras</a>

            </div>
        </div>

        <div class="menu-item">

            <div class="img-item">
                <a asp-action="Reportes" asp-area="Reportes" asp-controller="Reportes">
                    <i class="fas fa-chart-line"></i>
                </a>

            </div>
            <div class="text-item">
                <a asp-action="Reportes" asp-area="Reportes" asp-controller="Reportes">Reportes</a>
            </div>

        </div>


        <div class="menu-item">

            <div class="img-item">
                <a asp-area="Clientes" asp-controller="Clientes" asp-action="Index">
                    <i class="fas fa-user-tie"></i>
                </a>
            </div>
            </a>
            <div class="text-item">
                <a asp-area="Clientes" asp-controller="Clientes" asp-action="Index">Clientes</a>
            </div>

        </div>


        <div class="menu-item">

            <div class="img-item">
                <a asp-area="Corrales" asp-controller="Corrales" asp-action="Index">
                    
                    <i class="fas fa-warehouse"></i>
                </a>
            </div>

            <div class="text-item">
                <a asp-area="Corrales" asp-controller="Corrales" asp-action="Index">Corrales</a>
            </div>

        </div>
        <div class="menu-item">

            <div class="img-item">
                <a asp-area="Users" asp-controller="Users" asp-action="Index">
                    <i class="fas fa-user-cog"></i>

                </a>
            </div>

            <div class="text-item">
                <a asp-area="Users" asp-controller="Users" asp-action="Index">Gestionar Usuarios</a>
            </div>

        </div>
      
        
        @*<div class="menu-item">

            <div class="img-item">
                <a asp-area="Users" asp-controller="Nomina" asp-action="Nomina">
                    <i class="fas fa-digital-tachograph"></i>
                </a>
            </div>

            <div class="text-item">
                <a asp-area="Users" asp-controller="Nomina" asp-action="Nomina">Nomina</a>
            </div>


        </div>*@


    </div>



