﻿@page
@model RegistrarCerdoModel
@{
}


<div class="cerdos-container">

    <div class="prev-saves">
        <a asp-area="Cerdos" asp-controller="Cerdos" asp-action="Index" class="prev">&#10094;</a>
    </div>


    <div class="register-container">

        <div class="title-container">
            <h3>Registro de cerdo</h3>
        </div>

        <form method="post">


                        <input type="hidden" asp-for="Input.ID" class="form-control" id="InputID" autocomplete="off" />
          
            <div class="row">

                <div class="col-lg-4 col-sm-4">

                    <div class="form-group">
                        <label asp-for="Input.codigo" for="Inputcodigo"></label>
                        <input type="text" asp-for="Input.codigo" class="form-control" id="Inputcodigo" readonly="readonly" autocomplete="off" />
                        <span asp-validation-for="Input.codigo" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-lg-4 col-sm-4">

                    <div class="form-group">
                        <label asp-for="Input.Peso" for="InputPeso"></label>
                        <input asp-for="Input.Peso" class="form-control" id="InputPeso" autocomplete="off" />
                        <span asp-validation-for="Input.Peso" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.Sexo" for="InputSexo"></label>
                        @Html.DropDownList("Input.Sexo", new SelectList(Model.Input.sexoList, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "InputSexo" })
                        <span asp-validation-for="Input.Sexo" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-4" id="item-hembra" style="display:none;">
                    <div class="form-group">
                        <label asp-for="Input.numero_tetas" for="Inputnumero_tetas"></label>
                        <input type="number" asp-for="Input.numero_tetas" id="Inputnumero_tetas" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.numero_tetas" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-4" id="item-macho" style="display:none;">
                    <div class="form-group">
                        <label asp-for="Input.castrado" for="Inputcastrado"></label>
                        @Html.DropDownList("Input.castrado", new SelectList(Model.Input.castradoList, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputcastrado" })
                        <span asp-validation-for="Input.castrado" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.NombreRaza" for="InputNombreRaza"></label>
                        @Html.DropDownList("Input.NombreRaza", new SelectList(Model.Input.razaList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "InputNombreRaza" })
                        <span asp-validation-for="Input.NombreRaza" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="row">


                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.fecha_nacimiento" for="Inputfecha_nacimiento"></label>
                        <input asp-for="Input.fecha_nacimiento" type="date" id="Inputfecha_nacimiento" class="form-control" />
                        <span asp-validation-for="Input.fecha_nacimiento" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.fecha_destete" for="Inputfecha_destete"></label>
                        <input asp-for="Input.fecha_destete" type="date" id="Inputfecha_destete" class="form-control" />
                        <span asp-validation-for="Input.fecha_destete" class="text-danger"></span>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.NombreCorral" for="InputNombreCorral"></label>
                        @Html.DropDownList("Input.NombreCorral", new SelectList(Model.Input.corralList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "InputNombreCorral" })
                        <span asp-validation-for="Input.NombreCorral" class="text-danger"></span>

                    </div>


                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.Nombre_alimentacion" for="InputNombre_alimentacion"></label>
                        @Html.DropDownList("Input.Nombre_alimentacion", new SelectList(Model.Input.alimentacionList, "Text", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "InputNombre_alimentacion" })
                        <span asp-validation-for="Input.Nombre_alimentacion" class="text-danger"></span>

                    </div>


                </div>

            </div>

            <div class="row">

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.nombre_produccion" for="Inputnombre_produccion"></label>
                        @Html.DropDownList("Input.nombre_produccion", new SelectList(Model.Input.produccionList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputnombre_produccion" })
                        <span asp-validation-for="Input.nombre_produccion" class="text-danger"></span>

                    </div>


                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label asp-for="Input.status" for="Inputstatus"></label>
                        @Html.DropDownList("Input.status", new SelectList(Model.Input.estadoList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputstatus" })
                        <span asp-validation-for="Input.status" class="text-danger"></span>

                    </div>


                </div>

            </div>

            <div class="row">

                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Input.observaciones" for="Inputobservaciones"></label>
                        <textarea asp-for="Input.observaciones" class="form-control" id="inputobservaciones"></textarea>


                    </div>


                </div>



            </div>

            <div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>

            <div class="errorMessage">
                <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
            </div>



        </form>
    </div>

</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
