﻿


@model InputModelCorral


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Corral</h4>
</div>

<div class="modal-body">

    <div class="container-fluid">
        <form method="post">

            <div class="row">
                <input type="hidden" asp-for="id" id="codigo" />

                <div class="col-sm-12">

                    <div class="form-group-sm">
                        <label asp-for="numeroCorral" for="numeroCorral"></label>
                        <input type="number" name="numeroCorral" class="form-control" asp-for="numeroCorral" id="numeroCorral" />

                    </div>

                    <br />


                    <div class="form-group">
                        <label asp-for="Comentario" for="Comentario"></label>
                        <textarea asp-for="Comentario" id="Comentario" name="causas" class="form-control"></textarea>
                    </div>

                </div>

            </div>




            <button type="button" onclick="saveCorral()" class="btn btn-success">Guardar</button>
        </form>
    </div>

</div>


<div class="modal-footer">

    <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

</div>






