﻿@model DataPaginador<InputModelsAlimentos_cerdos>
@{
    ViewData["Title"] = "CerdoAlimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width:1200px">


    <div class="row">
        <div class="input-group">
            <a asp-area="ControlAlimentos" asp-page="/Registrar/Registrar" class="btn btn-success">Agregar</a>

        </div>

    </div>
    <br />

    <form asp-area="ControlAlimentos" asp-controller="ControlAlimentos" asp-action=" CerdoAlimentos" method="get">
        <div class="row">
            <div class=" input-group">
                <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-6" aria-label="Search" autocomplete="off" />
                <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
            </div>

        </div>
    </form>
    <br />

    <div class="row">
        <table class="table table-responsive-lg">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.id_alimentos_cerdo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.numero_corral)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.caravana_cerdo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.categoria_alimento)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Input.cantidad_kg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input.correoUser)
                    </th>

                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.id_alimentos_cerdo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numero_corral)


                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.caravana_cerdo)


                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.categoria_alimento)


                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad_kg)


                    </td>

                    <td>


                        @Html.DisplayFor(modelItem => item.correoUser)

                    </td>


                    <td>
                        <a asp-area="ControlAlimentos" asp-page="/Registrar/Registrar" asp-route-id="@item.id_alimentos_cerdo" class=" btn btn-success">Editar</a> @*| <a asp-area="ControlAlimentos" asp-page="/Eliminar/Eliminar" asp-route-id="@item.id_alimentos_cerdo" class=" btn btn-danger">Eliminar</a>*@
                    </td>
                </tr>

                }
            </tbody>
        </table>

        <div>
            Resultados @Html.Raw(Model.Pagi_info)
            <br />
            @Html.Raw(Model.Pagi_navegacion)
        </div>
    </div>


</div>