﻿

@{
    ViewData["Title"] = "Compras";
}




















    <div class="cerdos-container">

        <div id="allcode">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-model="mdlObject">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#008080; color:white;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-md"></i> Compra </h4>
                        </div>
                        <div id="divDetail"></div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <div class="row" style="padding:30px;">
                <h2>Compras</h2>
                <div id="content">
                    <div class="row">



                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                        </div>


                    </div>

                    <!-- widget grid -->

                    <section id="widget-grid">
                        <hr style="        border-top: 1px dotted #c7c7c7;
        padding: 0px;
        margin: 0px;" />


                        <!-- row -->
                        <div class="row" style="overflow:auto;">
                            <div class="inbox-checkbox-triggered" style="margin:10px">

                                <div class="btn-group">
                                    <a href="#" id="Add" rel="tooltip" title="" onclick="modal(0);" data-placement="bottom" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin:2px; background-color:#008080;color:white;"><strong><i class="fa fa-plus fa-lg text-danger"></i> Agregar</strong></a>

                                </div>

                            </div>
                            <hr style="border-top:1px dotted #c7c7c7; padding:0px; margin:0px;" />
                            <!-- NEW WIDGET START -->
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <br />
                                <div id="divMaestro">




                                </div>

                            </article>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end widget grid -->

                </div>
            </div>
        </div>

    </div>


<!-- END MAIN CONTENT -->




<script>

    function ValidarCombo(elemento) {

        if (elemento.value == "Alimento") {
            $("#divlineamiento").show();
            $("#divcategoria").show();
            $("#divunidad").show();
        } else {
            $("#divlineamiento").hide();
            $("#divcategoria").hide();
            $("#divunidad").hide();
        }

        if (elemento.value == "Medicamento") {
            $("#divmarca").show();
        } else {
            $("#divmarca").hide();
        }

    }


    function validaCampos() {


        var elemento = document.getElementById("tipodecompra");
        var esinllenar = "";

        var seguir = "SI";
            var compra = $("#Compra").val();
            var tipodecompra = $("#tipodecompra").val();
            var valor = $("#valor").val();
            var cantidad = $("#cantidad").val();
        var Descripcion = $("#Descripcion").val();


            //validamos campos
        if ($.trim(compra) == "") {
            // toastr.error("No ha ingresado Nombre de la compra","Aviso!");
            seguir = "NO";
            esinllenar = "COMPRA";

        }


             if($.trim(tipodecompra) == ""){
           // toastr.error("No ha ingresado Tipo de compra","Aviso!");
                 seguir = "NO";
                  esinllenar = "TIPO DE COMPRA";

        }
          if($.trim(valor) == ""){
           // toastr.error("No ha ingresado Valor de la compra","Aviso!");
              seguir = "NO";
               esinllenar = "VALOR INDIVIDUAL";

        }
        if ($.trim(cantidad) == "" || parseInt(cantidad)==0) {
           // toastr.error("No ha ingresado cantidad","Aviso!");
            seguir = "NO";
             esinllenar = "CANTIDAD";

        }
          if($.trim(Descripcion) == ""){
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
              seguir = "NO";
               esinllenar = "DESCRIPCION DE LA COMPRA";

        }



        if (elemento.value == "Alimento") {
            var cbolineamiento = $("#cbolineamiento").val();
            var cbocategoria = $("#cbocategoria").val();
            var cbounidad = $("#cbounidad").val();
            if($.trim(cbolineamiento) == ""){
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
               seguir = "NO";
               esinllenar = "LINEAMIENTO";
            }

             if($.trim(cbocategoria) == ""){
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
               seguir = "NO";
               esinllenar = "CATEGORIA";
                }

            if ($.trim(cbounidad) == "") {
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
               seguir = "NO";
               esinllenar = "UNIDAD";
            }

        }

        if (elemento.value == "Medicamento") {
             var marca = $("#marca").val();

            if($.trim(marca) == ""){
           // toastr.error("No ha ingresado Descripcion de la compra","Aviso!");
               seguir = "NO";
                esinllenar = "MARCA";
                }


        }



        if (seguir == "SI") {
            save();



        } else {
            toastr.error("Asegurese de llenar todos los campos requeridos, Campo: " + esinllenar + "", "¡ATENCION!");
        }


    }


    function reFresh() {

            location.reload(false);

            }



    function save() {


        var cbolineamiento = "vacio";
        var cbocategoria = "vacio";
        var marca = "vacio";
        var   cbounidad = "vacio";

          var elemento = document.getElementById("tipodecompra");
        if (elemento.value == "Alimento") {
             cbolineamiento = $("#cbolineamiento").val();
             cbocategoria = $("#cbocategoria").val();
                cbounidad = $("#cbounidad").val();



        }

        if (elemento.value == "Medicamento") {
              marca = $("#marca").val();




        }

         var Id = $("#IdDetail").val();
            var compra = $("#Compra").val();
            var tipodecompra = $("#tipodecompra").val();
            var valor = $("#valor").val();
            var cantidad = $("#cantidad").val();
        var Descripcion = $("#Descripcion").val();




          var dataPost = {'cbounidad': cbounidad ,'cbolineamiento': cbolineamiento ,'cbocategoria': cbocategoria ,'marca': marca ,'Id': Id ,'Nombre': compra,'Descripcion': Descripcion, 'TipoDeCompra': tipodecompra, 'ValorIndividual': valor, 'Cantidad': cantidad };

            jQuery.ajax({
                type: "POST",
                url: "/Compras/Salvar",
                data: dataPost,
                dataType: "json",
                success: function (result) {



                    toastr.info("Guardado", "¡CORRECTO!");
                    $('#myModal').modal('toggle');

                    //listarMaestros();
                    window.setInterval("reFresh()",2000);

                }
            });


    }

      function listarMaestros() {

            $.ajax({
                url: '@Url.Action("ListadoMaestro", "Compras")',
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divMaestro").html(retorno);
                    scripttablas();

                },
                error: function () {
                    alert("Se ha producido un error al cargar");
                }
            });

    }


     function modal(id) {



            $.ajax({
                url: '@Url.Action("Detail", "Compras")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divDetail").html(retorno);


                    loadStart();

                     var valor = $('#valor').val().replace(/,/g, "");
                      var cantidad = $('#cantidad').val();

                      if (cantidad>=1 && valor>=1) {
                          var calculo = parseInt(valor) * parseInt(cantidad);

                      $('#valortotal').val(formatearNumero(calculo));
                    }


                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }


    function formatearNumero(nStr) {
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? ',' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}
    function loadStart() {
         $('.solo-numero').keyup(function (){
             this.value = (this.value + '').replace(/[^0-9]/g, '');



         });


        $('#valor').keyup(function (){


            var valor = formatearNumero(this.value);
            $('#valor').val(valor);



         });

          $('.solo-numero').change(function (){


              var valor = $('#valor').val().replace(/,/g, "");
              var cantidad = $('#cantidad').val();

              if (cantidad>=1 && valor>=1) {
                  var calculo = parseInt(valor) * parseInt(cantidad);

              $('#valortotal').val(formatearNumero(calculo));
              }


          });


        $('#btnSave').on('click', function() {


            validaCampos();
        });

        $('#cerrar').on('click', function () {
             listarMaestros();
            });


    }



    function scripttablas() {
             $('#table').DataTable({
                //"scrollY": "200px",
                //"scrollCollapse": true,
                });
        $('.dataTables_length').addClass('bs-select');




    }



</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        listarMaestros();




    });


</script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>

    //importamos configuraciones de toastr
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


</script>