﻿@model SistemaDeVentas.Models.Compras.Clase.Compra
<form action="#" method="GET" onsubmit="return validaCampos();">
    <div class="modal-body">
         


        <input type="hidden" id="IdDetail" value="@Model.Id" />
        <input type="hidden" id="IdTipoDeCompra" value="@Model.TipoDeCompra" />

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tipodecompra">Tipo De Compra</label>
                    <select class="form-control" id="tipodecompra" value onchange="ValidarCombo(this);">

                      
                          


                       
                            <option value="" selected disabled>Seleccione</option>






                        <option value="Alimento">Alimento</option>
                        <option value="Medicamento">Medicamento</option>
                        <option value="Veterinario">Veterinario</option>
                        <option value="Infraestructura">Infraestructura</option>
                        <option value="Transporte">Transporte</option>
                        <option value="Servicio">Servicio</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Compra">Compra</label>
                    @* <input type="text" value="@Model.Nombre" class="form-control" id="Compra" autocomplete="off" placeholder="Nombre de la compra">*@
                    <div class="wrap">
                        <input list="Compras" name="Compras" value="@Model.Nombre" id="Compra" class="form-control custom-select custom-select-sm" type="text" placeholder="Nombre de la compra">
                        <datalist id="Compras">

                            @foreach (var x in ViewBag.cboCompras)
                            {

                                <option value="@x.Text"></option>
                            }


                            @*@foreach (var dato in ViewBag.cbosupervisores)
                    {
                        <option value="@dato.Value">@dato.Text</option>
                        if (dato.Value == item.IdSupervisor.ToString())
                        {
                            <option value="@dato.Value" selected>@dato.Text</option>
                        }

                    }*@

                        </datalist>
                    </div>
                </div>

            </div>

        </div>
      

        <div class="row">

            <div class="col-sm-4" id="divunidad">
                <div class="form-group">
                    <label for="cbounidad">Unidad</label>
                    <select class="form-control" id="cbounidad">





                        <option value="" selected disabled>Seleccione</option>
                        <option value="KG">KG</option>
                        <option value="LB">LB</option>
                        <option value="Bulto">Bulto</option>
                        <option value="Otro">Otro</option>


                    </select>
                </div>


            </div>

            <div class="col-sm-4" id="divlineamiento">
                <div class="form-group">
                    <label for="cbolineamiento">Lineamiento</label>
                    <select class="form-control" id="cbolineamiento">





                        <option value="" selected disabled>Seleccione</option>
                        <option value="Economico">Economico</option>
                        <option value="Naranja">Naranja</option>
                        <option value="Otro">Otro</option>


                    </select>
                </div>


            </div>

            <div class="col-sm-4" id="divcategoria">
                <div class="form-group">
                    <label for="cbocategoria">Categoria</label>
                    <select class="form-control" id="cbocategoria">





                        <option value="" selected disabled>Seleccione</option>
                        <option value="1">Inicio</option>
                        <option value="2">Levante</option>
                        <option value="3">Lactancia</option>
                        <option value="4">Gestación</option>

                    </select>
                </div>


            </div>
            <div class="col-sm-6" id="divmarca">
                <div class="form-group">
                    <label for="marca">Marca</label>

                    <input type="text" class="form-control" value="" autocomplete="off" id="marca" placeholder="">

                </div>


            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="Compra">Valor Unitario</label>
                    <input type="text" class="form-control solo-numero" value="@Model.ValorIndividual" autocomplete="off" id="valor" placeholder="">
                </div>

            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="Compra">Cantidad</label>
                    <input type="number" class="form-control solo-numero" value="@Model.Cantidad" autocomplete="off" id="cantidad" placeholder="">
                </div>

            </div>
        </div>


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripcion</label>
            <textarea class="form-control" id="Descripcion" rows="3" autocomplete="off" placeholder="Describa brevemente la compra"> @Model.Descripcion</textarea>
        </div>

        <div class="row">

            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">


            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Valor total</label>
                    <input type="text" readonly disabled class="form-control" id="valortotal" placeholder="0">
                </div>

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button id="btnSave" type="button" class="btn btn-primary" style="margin-top: -3px; background-color:#008080;">
            Guardar
        </button>
        <button type="button" class="btn btn-default" id="cerrar" data-dismiss="modal">
            Cancelar
        </button>

    </div>
</form>


<script>
      $(document).ready(function () {

         
          $("#tipodecompra").val( $("#IdTipoDeCompra").val());
          var elemento = document.getElementById("tipodecompra");
             if (elemento.value == "Alimento") {
                                $("#divlineamiento").show();
                 $("#divcategoria").show();
                 $("#divunidad").show();


                 $("#cbolineamiento").val("@Model.lineamiento");
                 $("#cbocategoria").val("@Model.categoria");
                 $("#cbounidad").val("@Model.Unidad");

                            } else {
                                $("#divlineamiento").hide();
                                $("#divcategoria").hide();
                                $("#divunidad").hide();
                            }

                            if (elemento.value == "Medicamento") {
                                $("#divmarca").show();
                                $("#marca").val("@Model.marca");

                            } else {
                                $("#divmarca").hide();
                            }


    });

</script>
