﻿@model IEnumerable<SistemaDeVentas.Models.Compras.Clase.Compra>





<table id="table" class="table table-striped table-bordered table-sm" cellspacing="0"
       width="100%">
    <thead>
        <tr>
            <th class="th-sm"   style="font-size: 18px;">
                ID
            </th>
            <th class="th-sm"  style="font-size: 18px;">
                Tipo De Compra
            </th>
            <th class="th-sm"  style="font-size: 18px;">
                Nombre
            </th>

            <th class="th-sm"  style="font-size: 18px;">
                Fecha
            </th>
            <th class="th-sm"  style="font-size: 18px;">
                Cant

            </th>
            <th class="th-sm"  style="font-size: 18px;">
                Valor
            </th>
            <th class="th-sm" style="width:2%;">

            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TipoDeCompra</td>
                <td>@item.Nombre</td>
                <td>@item.FechaCreado</td>
                <td>@item.Cantidad</td>
                <td>@item.ValorIndividual</td>
                <td style="text-align:center;">

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-muted">
                                <i style="color:#A90329;"></i> <a href="#" rel="tooltip" title="" onclick="modal(@item.Id);" data-placement="bottom" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin:2px; background-color:#008080;color:white;"><i class="fa fa-edit"></i></a>
                            </p>
                        </li>
                    </ul>





                </td>


            </tr>
        }



    </tbody>
    <tfoot>
        <tr>
            <th class="th-sm">
                ID
            </th>
            <th class="th-sm">
                Tipo De Compra
            </th>
            <th class="th-sm">
                Nombre
            </th>

            <th class="th-sm">
                Fecha
            </th>
            <th class="th-sm">
                Cant

            </th>
            <th class="th-sm">
                Valor
            </th>
            <th class="th-sm">

            </th>

        </tr>
    </tfoot>
</table>