﻿@page
@model RegistrarModel
@{
}

<div class="container">

    <form method="post">
        <div class="row" id="codigoCorral" style="display:none;">

            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Input.ID" for="InputID"></label>
                    <input asp-for="Input.ID" class="form-control" autocomplete="off" />
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="form-group">
                    <label asp-for="Input.numeroCorral" for="InputnumeroCorral"></label>
                    <input asp-for="Input.numeroCorral" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label asp-for="Input.Comentario" for="InputComentario"></label>
                    <textarea asp-for="Input.Comentario" class="form-control" autocomplete="off"> </textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>


        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>


    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
