﻿
@model InputModelsPartos


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Parto</h4>
</div>
<form method="POST" action="@Url.Action("addParto","Cerdos")">
    <div class="modal-body">

        <div class="container-fluid">


            <div class="row">

                <div class="col-sm-12">



                    <div class="form-group-sm">

                        <label asp-for="caravana_cerda"></label>
                        <input asp-for="caravana_cerda" readonly="readonly" class="form-control" name="codigo" />
                    </div>

                    <br />

                    <div class="form-group-sm">

                        <label asp-for="fecha_nacimiento" for="fecha_nacimiento"></label>
                        <input asp-for="fecha_nacimiento" name="fecha_nacimiento" type="date" id="fecha_nacimiento" class="form-control" autofocus="autofocus"  autocomplete="off" required />
                    </div>

                    <br />

                    <div class="form-group-sm">
                        <label asp-for="numero_hembra" for="numero_hembra"></label>
                        <input asp-for="numero_hembra" type="number" name="numero_hembra" id="Inputnumero_hembra" class="form-control" autofocus="autofocus" required autocomplete="off" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="numero_macho" for="numero_macho"></label>
                        <input asp-for="numero_macho" type="number" id="numero_macho" name="numero_macho" class="form-control" required autofocus="autofocus" autocomplete="off" />
                    </div>
                    <br />
                    <div class="form-group-sm">
                        <label asp-for="nacidos_muertos" for="nacidos_muertos"></label>
                        <input asp-for="nacidos_muertos" type="number" id="nacidos_muertos" name="nacidos_muertos" class="form-control" autofocus="autofocus" autocomplete="off" />
                    </div>
                    <br />

                    <div class="form-group-sm">
                        <label asp-for="fecha_Destete" for="fecha_Destete"></label>
                        <input asp-for="fecha_Destete" type="date" id="fecha_Destete" name="fecha_destete" class="form-control" autofocus="autofocus"  autocomplete="off" />
                    </div>
                    <br />

                    <div class="form-group-sm">
                        <label asp-for="peso_promedio" for="peso_promedio"></label>
                        <input asp-for="peso_promedio" type="text" id="peso_promedio" name="peso_promedio" class="form-control" autofocus="autofocus" autocomplete="off" />
                    </div>

                    <br />
                    <div class="form-group-sm">
                        <label asp-for="observacion" for="Observacion"></label>
                        <textarea asp-for="observacion" id="Observacion" name="observacion" class="form-control"></textarea>
                    </div>
                    <br />

                    <div class="row">
                        <p class="text-danger">
                            @Html.DisplayFor(m => m.ErrorMessage)
                        </p>
                    </div>





                </div>

            </div>
            <button type="submit" class="btn btn-success">Guardar</button>

        </div>


    </div>

</form>
    <div class="modal-footer">

      
        <button type="button" class="btn btn-default action-service" data-dismiss="modal">Cancelar</button>

    </div>

