﻿@model DataPaginador<InputModelCorral>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int cont = 1;
}

<div class="cerdos-container">

    <div class="row">
        <hr />
        <h1>Corrales</h1>
        <hr />
    </div>
    <div class="prev-saves">

        <a asp-action="Index" asp-controller="Principal" class="prev">&#10094;</a>

        <div class="action-register"><a onclick="getModal()" data-toggle="modal" data-target="#getModal"> Agregar <i class="fas fa-plus-circle"></i></a></div>

    </div>
    <br />

    <div class="cerdos-filter">
        <form asp-area="Corrales" asp-controller="Corrales" asp-action="Index" method="get">
            <div class="search">

                <input asp-for="Search" placeholder="Buscar.." aria-label="Search" autocomplete="off" />
                <div class="btn-buscar"> <button type="submit"><i class="fa fa-search"></i></button></div>

            </div>
        </form>
    </div>


    <br />

    <div class="row">
        <div class="container">
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.numeroCorral)
                        </th>
                        <th>
                            #cerdos
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>

                                @(cont++)
                            </td>


                            <td>


                                @Html.DisplayFor(modelItem => item.numeroCorral)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>


                            <td>
                                <div class="acciones">
                                    <a onclick="editCorral(@item.ID)" data-toggle="modal" data-target="#corralModal"><div class="action-item"><div class="add-item">Editar</div> <div class="add-item"><i class="fas fa-edit"></i></div></div></a> <a asp-area="Corrales" asp-page="/Eliminar/Eliminar" asp-route-id="@item.ID"><div class="action-item"><div class="drop-item">Eliminar</div><div class="drop-item"><i class="fas fa-trash-alt"></i></div></div></a>

                                </div>


                            </td>
                        </tr>

                    }
                </tbody>
            </table>

            <div>
                Resultados @Html.Raw(Model.Pagi_info)
                <br />

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">@Html.Raw(Model.Pagi_navegacion)</li>
                        
                    </ul>
                </nav>
             
            </div>
        </div>


    </div>


</div>


<div id="corralModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div id="edit-modal">

            </div>

        </div>

    </div>
</div>



<div id="getModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div id="get-modal">

            </div>
        </div>

    </div>
</div>

<script>



    function getModal() {


         



              $.ajax({


           method: "POST",
            url: '@Url.Action("getModal", "Corrales")',
            type: JSON,
            success: function (response) {


                  $("#get-modal").empty();
                $("#get-modal").html(response);





                    },

                    error: function (error) {

                        iziToast.show({

                            title: "Warning",
                            message: "Ha ocurrido un error, intente mas tarde ",
                            color: "red",
                            theme: "light",
                            position: "topCenter"
                        });
                    }
                });
          }


      function editCorral(id) {


         



              $.ajax({


           method: "POST",
            url: '@Url.Action("editModal", "Corrales")',
            type: JSON,
            data: {'id':id},
            success: function (response) {


                  $("#edit-modal").empty();
                $("#edit-modal").html(response);





                    },

                    error: function (error) {

                        iziToast.show({

                            title: "Warning",
                            message: "Ha ocurrido un error, intente mas tarde ",
                            color: "red",
                            theme: "light",
                            position: "topCenter"
                        });
                    }
                });
          }









    function saveCorral() {

        let comentario = $('#Comentario').val();
        let numeroCorral = $('#numeroCorral').val();
        let id = $('#codigo').val();






            if ($.trim(numeroCorral).length > 0) {





                let data = { 'id': id, 'numeroCorral': $.trim(numeroCorral), 'comentario': $.trim(comentario) };

                  $.ajax({


                    method: "POST",
                    url: '@Url.Action("updateCorral", "Corrales")',
                    type: JSON,
                    data: data,
                    success: function (response) {




                        iziToast.show(
                            {
                                title: "success",
                                message: 'Se ha guardado sastifactoriamente',
                                theme: 'light',
                                position: 'topCenter',
                                color: 'green'
                            }

                        );

                        window.setInterval("reFresh()", 2000);




                    },

                    error: function (error) {

                        iziToast.show({

                            title: "Warning",
                            message: "Ha ocurrido un error, intente mas tarde ",
                            color: "red",
                            theme: "light",
                            position: "topCenter"
                        });

                         window.setInterval("reFresh()", 2000);
                    }
                });


            } else {

                iziToast.show({

                    title: "Warning",
                    message: "el numero de corral es obligatorio",
                    color: "red",
                    theme: "light",
                    position: "topCenter"
                });
            }

    }












     function reFresh() {

            location.reload(false);

            }


</script>
