﻿@page
@model RegistrarModel
@{
}

<div class="container">
    <form method="post">


        <div class="row" style="display:none;">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Input.id_alimentos_cerdo"></label>
                    <input class="form-control" id="Inputid_alimentos_cerdo" asp-for="Input.id_alimentos_cerdo">

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.id_cerdo" for="Inputid_cerdo"></label>
                    @Html.DropDownList("Input.id_cerdo", new SelectList(Model.Input.cerdosList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_cerdo" })
                <span asp-validation-for="Input.id_cerdo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">


                <div class="form-group">
                    <label asp-for="Input.id_alimento" for="Inputid_cliente"></label>
                    @Html.DropDownList("Input.id_alimento", new SelectList(Model.Input.AlimentoList, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", @id = "Inputid_alimento" })
                    <span asp-validation-for="Input.id_alimento" class="text-danger"></span>

                </div>


            </div>

        </div>


        <div class="row">

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.cantidad_kg" for="InputPrecio"></label>
                    <input class="form-control" type="number" id="InputPrecio" asp-for="Input.cantidad_kg" autocomplete="off">

                </div>
            </div>

            
        </div>


        <div class="row">
           

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.fecha" for="Inputfecha"></label>
                    <input class="form-control" type="date" id="Inputfecha" asp-for="Input.fecha" autocomplete="off">

                </div>
            </div>
        </div>





        <button type="submit" class="btn btn-success">Guardar</button>
        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>

    </form>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}