﻿@model DataPaginador<InputModelRegistrarcs>
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}







    <div class="cerdos-container">

        <div class="row">
            <hr />
            <h1>Usuarios</h1>
            <hr />
        </div>

        <div class="prev-saves">

            <a asp-action="Index" asp-controller="Principal" class="prev">&#10094;</a>
            <div class="action-register"><a asp-area="Users" asp-page="/Registrar/Registrar"> Agregar <i class="fas fa-plus-circle"></i></a></div>

        </div>

        <br />


        <div class="cerdos-filter">
            <form asp-area="Users" asp-controller="Users" asp-action="Index" method="get">
                <div class="search">

                    <input asp-for="Search" placeholder="Buscar.." aria-label="Search" autocomplete="off" />
                    <div class="btn-buscar"> <button type="submit"><i class="fa fa-search"></i></button></div>

                </div>
            </form>
        </div>
        <br />

        <div class="row">
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Cedula)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.Role)
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.Cedula)

                            </td>

                            <td>

                                @Html.DisplayFor(modelItem => item.Nombre)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Apellido)

                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Role)

                            </td>
                            <td>
                                <div class="acciones">
                                    <a asp-area="Users" asp-page="/Registrar/Registrar" asp-route-id="@item.Email"><div class="action-item"><div class="add-item">Editar</div> <div class="add-item"><i class="fas fa-edit"></i></div></div></a> <a asp-area="Users" asp-page="/Eliminar/Eliminar" asp-route-id="@item.Email"><div class="action-item"><div class="drop-item">Eliminar</div><div class="drop-item"><i class="fas fa-trash-alt"></i></div></div></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div>
                Resultados @Html.Raw(Model.Pagi_info)
                <br />
                @Html.Raw(Model.Pagi_navegacion)
            </div>
        </div>


    </div>
