﻿@model SistemaDeVentas.Models.Nomina.Clase.Empleado


    <div class="modal-body">




        <input type="hidden" id="txtIdEmpleado" value="@Model.IdEmpleado" />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Compra">Identificacion</label>
                    <input type="text" class="form-control solo-numero" id="txtIdentificacion" value="@Model.Identificacion" autocomplete="off" placeholder="">
                </div>
            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Nombre</label>
                    <input type="text" id="txtNombre" class="form-control" value="@Model.Nombre" autocomplete="off" placeholder="">
                </div>

            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="Compra">Cargo</label>
                    <input type="text" id="txtCargo" class="form-control" value="@Model.Cargo" autocomplete="off" placeholder="">
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Compra">Salario</label>
                    <input type="text" id="txtSalario" class="form-control solo-numero" value="@Model.Salario" autocomplete="off" placeholder="">
                </div>
            </div>

            @{ if (Model.IdEmpleado != 0)
                {

                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="Compra">Fecha Creado</label>
                            <input type="text" readonly class="form-control" value="@Model.FechaCreado" autocomplete="off" placeholder="">
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="Compra">Estado</label>
                            <input type="text" readonly id="txtEstado" class="form-control" value="@Model.Estado" autocomplete="off" placeholder="">
                        </div>

                    </div>


                }
            }


        </div>



        <div id="PagosRegistrados">

            @*@Html.ActionLink("Nomina", "PagosPorEmpleado", new { id = Model.IdEmpleado })*@

        </div>

        <div class="row" style="padding:20px;">
            @if (Model.Estado == "ACTIVO")
            {
                <button type="button" class="btn btn-danger" onclick="inactivar('@Model.IdEmpleado');" style="margin-top: -3px;">
                    INACTIVAR
                </button>

            }

            @if (Model.Estado == "INACTIVO")
            {
                <button type="button" class="btn btn-info" onclick="activar('@Model.IdEmpleado');" style="margin-top: -3px;">
                    ACTIVAR
                </button>

            }



        </div>




    </div>
<div class="modal-footer">
    <button id="btnSave" type="button" class="btn btn-primary" onclick="validaCampos();" style="margin-top: -3px; background-color:#008080;">
        Guardar
    </button>
    <button type="button" class="btn btn-default" id="cerrar" data-dismiss="modal">
        Cancelar
    </button>

</div>

@*<script>

     $(document).ready(function () {


         var a = "@Model.estado";
         if (a== "ANULADO") {
             $("#btnanular").hide();
         } else {
             $("#btnanular").show();
         }




        });

    </script>*@
