﻿@model IEnumerable<SistemaDeVentas.Models.Nomina.Clase.Empleado>




<table id="table" class="table table-striped table-bordered table-sm" cellspacing="0"
       width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                ID
            </th>

            <th class="th-sm">
                Nombre
            </th>

            <th class="th-sm">
                Fecha Creación
            </th>
            <th class="th-sm">
                Cargo

            </th>
            <th class="th-sm">
                Salario
            </th>
            <th class="th-sm">
                Ultimo Pago
            </th>
            <th class="th-sm">
                Valor Ultimo Pago
            </th>
            <th class="th-sm">
                Estado
            </th>
            <th class="th-sm" style="width:2%;">

            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Identificacion</td>

                <td>@item.Nombre</td>
                <td>@item.FechaCreado</td>
                <td>@item.Cargo</td>
                <td>@item.Salario</td>
                <td>@item.FechaUltimoPago</td>
                <td>@item.ValorUltimoPago</td>
                <td>@item.Estado</td>
                <td style="text-align:center;">

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-muted">
                                <i style="color:#A90329;"></i> <a href="#" rel="tooltip" title="" onclick="modal(@item.IdEmpleado);" data-placement="bottom" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin:2px; background-color:#008080;color:white;"><i class="fa fa-edit"></i></a>
                            </p>
                        </li>
                    </ul>





                </td>


            </tr>
        }



    </tbody>
    <tfoot>
        <tr>
            <th class="th-sm">
                ID
            </th>

            <th class="th-sm">
                Nombre
            </th>

            <th class="th-sm">
                Fecha Creación
            </th>
            <th class="th-sm">
                Cargo

            </th>
            <th class="th-sm">
                Salario
            </th>
            <th class="th-sm">
                Ultimo Pago
            </th>
            <th class="th-sm">
                Valor Ultimo Pago
            </th>
            <th class="th-sm">
                Estado
            </th>
            <th class="th-sm" style="width:2%;">

            </th>

        </tr>
    </tfoot>
</table>