﻿
@{
    ViewData["Title"] = "Nomina";
}





    <div class="cerdos-container">



        <div id="allcode">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-model="mdlObject">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#008080; color:white;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-md"></i> Empleado Nomina </h4>
                        </div>
                        <div id="divDetail"></div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <div class="row" style="padding:30px;">
                <h2>Nomina</h2>
                <div id="content">
                    <div class="row">



                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                        </div>


                    </div>

                    <!-- widget grid -->

                    <section id="widget-grid">
                        <hr style="        border-top: 1px dotted #c7c7c7;
        padding: 0px;
        margin: 0px;" />


                        <!-- row -->
                        <div class="row">
                            <div class="inbox-checkbox-triggered" style="margin:10px">

                                <div class="btn-group">
                                    <a href="#" id="Add" rel="tooltip" title="" onclick="modal(0);" data-placement="bottom" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin:2px; background-color:#008080;color:white;"><strong><i class="fa fa-plus fa-lg text-danger"></i> Agregar</strong></a>

                                </div>
                                <div class="btn-group">
                                    <a href="#" id="pagar" rel="tooltip" title="" onclick="pagartodo();" data-placement="bottom" class="btn btn-warning" style="margin:2px;color:white;"><strong><i class="fas fa-dollar-sign"></i> Pagar Nomina</strong></a>

                                </div>
                                <div class="btn-group">
                                    <a href="#" id="devolverpago" rel="tooltip" title="" onclick="devolverpago();" data-placement="bottom" class="btn btn-danger" style="margin:2px;color:white;"><strong><i class="fas fa-times"></i> Devolver Ultimo Pago</strong></a>

                                </div>

                            </div>
                            <hr style="border-top:1px dotted #c7c7c7; padding:0px; margin:0px;" />
                            <!-- NEW WIDGET START -->
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <br />
                                <div id="divMaestro">




                                </div>

                            </article>
                        </div>
                        <!-- end row -->

                    </section>
                    <!-- end widget grid -->

                </div>
            </div>
        </div>

    </div>
<!-- END MAIN CONTENT -->




<script>


    function devolverpago() {
             $.ajax({
                                url: '@Url.Action("DevolverPago", "Nomina")',
                                
                                type: "post",
                                cache: false,
                                success: function (retorno) {

                                     toastr.info("Pago de este mes devuelto", "¡CORRECTO!");
                                   

                                    listarMaestros();
                                   

                                },
                                error: function () {
                                    alert("Se ha producido un error");
                                }
                            });
    }
    function pagartodo() {
             $.ajax({
                                url: '@Url.Action("PagarTodosEmpleados", "Nomina")',
                                
                                type: "post",
                                cache: false,
                 success: function (retorno) {
                     if (retorno == 'failed') {
                         
                                     toastr.error("Ya ha pagado nomina este mes", "¡Error!");
                                   

                                    listarMaestros();
                     } else {
                        
                          toastr.info("Nomina Pagada A Empleados Activos", "¡CORRECTO!");
                                   

                                    listarMaestros();
                     }
                                   

                                },
                                error: function () {
                                    alert("Se ha producido un error");
                                }
                            });
    }

    function inactivar(id) {
           $.ajax({
                                url: '@Url.Action("DesactivarEmpleado", "Nomina")',
                                data: { IdEmpleado: id },
                                type: "post",
                                cache: false,
                                success: function (retorno) {

                                     toastr.info("Guardado", "¡CORRECTO!");
                                    $('#myModal').modal('hide');

                                    listarMaestros();
                                    window.setInterval("reFresh()",2000);

                                },
                                error: function () {
                                    alert("Se ha producido un error");
                                }
                            });
    }

     function activar(id) {
           $.ajax({
                                url: '@Url.Action("ActivarEmpleado", "Nomina")',
                                data: { IdEmpleado: id },
                                type: "post",
                                cache: false,
                                success: function (retorno) {

                                     toastr.info("Guardado", "¡CORRECTO!");
                                    $('#myModal').modal('hide');

                                    listarMaestros();
                                    window.setInterval("reFresh()",2000);

                                },
                                error: function () {
                                    alert("Se ha producido un error");
                                }
                            });
    }

    function validaCampos() {


      
        var esinllenar = "";

        var seguir = "SI";

            var txtIdentificacion = $("#txtIdentificacion").val();
            var txtNombre = $("#txtNombre").val();
            var txtCargo = $("#txtCargo").val();
            var txtSalario = $("#txtSalario").val();
       


            //validamos campos
        if ($.trim(txtIdentificacion) == "") {
            // toastr.error("No ha ingresado Nombre de la compra","Aviso!");
            seguir = "NO";
            esinllenar = "IDENTIFICACIÓN";

        }


             if($.trim(txtNombre) == ""){
           // toastr.error("No ha ingresado Tipo de compra","Aviso!");
                 seguir = "NO";
                  esinllenar = "NOMBRE";

        }
          if($.trim(txtCargo) == ""){
           // toastr.error("No ha ingresado Valor de la compra","Aviso!");
              seguir = "NO";
               esinllenar = "CARGO";

        }
        if ($.trim(txtSalario) == "") {
           // toastr.error("No ha ingresado cantidad","Aviso!");
            seguir = "NO";
             esinllenar = "SALARIO";

        }
         



        




        if (seguir == "SI") {
            save();



        } else {
            toastr.error("Asegurese de llenar todos los campos requeridos, Campo: " + esinllenar + "", "¡ATENCION!");
        }


    }


    function reFresh() {

            location.reload(false);

            }



    function save() {


      
        var txtIdEmpleado = $("#txtIdEmpleado").val();
            var txtIdentificacion = $("#txtIdentificacion").val();
            var txtNombre = $("#txtNombre").val();
            var txtCargo = $("#txtCargo").val();
            var txtSalario = $("#txtSalario").val();




        var dataPost = { 'IdEmpleado': txtIdEmpleado, 'Identificacion': txtIdentificacion, 'Nombre': txtNombre.toUpperCase(), 'Cargo': txtCargo.toUpperCase(), 'Salario': txtSalario };

            jQuery.ajax({
                type: "POST",
                url: "/Nomina/Salvar",
                data: dataPost,
                dataType: "json",
                success: function (result) {



                    toastr.info("Guardado", "¡CORRECTO!");
                    $('#myModal').modal('hide');

                    listarMaestros();
                    window.setInterval("reFresh()",2000);

                }
            });


    }

      function listarMaestros() {

            $.ajax({
                url: '@Url.Action("ListadoMaestro", "Nomina")',
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divMaestro").html(retorno);
                    scripttablas();

                },
                error: function () {
                    alert("Se ha producido un error al cargar");
                }
            });

    }


     function modal(id) {



            $.ajax({
                url: '@Url.Action("Detail", "Nomina")',
                data: { id: id },
                type: "post",
                cache: false,
                success: function (retorno) {

                    $("#divDetail").html(retorno);
                    loadStart();
                    if (id >= 1) {
                        
                                     $.ajax({
                                url: '@Url.Action("PagosPorEmpleado", "Nomina")',
                                data: { id: id },
                                type: "post",
                                cache: false,
                                success: function (retorno) {

                                    $("#PagosRegistrados").html(retorno);



                                },
                                error: function () {
                                    alert("Se ha producido un error");
                                }
                            });

                    }

                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });

    }


    function formatearNumero(nStr) {
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? ',' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}
    function loadStart() {
         $('.solo-numero').keyup(function (){
             this.value = (this.value + '').replace(/[^0-9]/g, '');



         });


        $('#txtSalario').keyup(function (){


            var valor = formatearNumero(this.value);
            $('#txtSalario').val(valor);



         });

         


       

        $('#cerrar').on('click', function () {
             listarMaestros();
            });


    }



    function scripttablas() {

                $('#table').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                });
        $('.dataTables_length').addClass('bs-select');




    }



</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        listarMaestros();




    });


</script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>

    //importamos configuraciones de toastr
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


</script>