﻿@model IEnumerable<SistemaDeVentas.Models.Nomina.Clase.Pago>


<div class="jarviswidget jarviswidget-color-greenDark" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false">
    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

    -->
    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @*table-responsive*@

            <div class="custom-scroll " style="height:108px; overflow-y: scroll;">


                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Pago </th>
                            <th>Fecha </th>
                           
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.PagoNomina</td>
                                <td>@item.FechaPago</td>
                                


                            </tr>
                        }

                    </tbody>
                </table>

            </div>



        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>