﻿
@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model RegistrarRazaModel

@{
}



<div class="container align-items-center">
    <form method="post">



        <div class="row">
            <div class="col-lg-6 col-sm-6">
            <div class="form-group">
                <label asp-for="Input.Nombre" for="InputNombre"></label>
                <input asp-for="Input.Nombre" id="InputNombre" class="form-control" autofocus="autofocus" autocomplete="off" />
            </div>
        </div>
        </div>



        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    <label asp-for="Input.Descripcion" for="InputDescripcion"></label>
                    <textarea asp-for="Input.Descripcion" id="InputDescripcion" class="form-control" autofocus="autofocus" autocomplete="off"></textarea>
                </div>
            </div>
        </div>


        <div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

        <div class="errorMessage">
            <label id="Message">@Html.DisplayFor(m => m.Input.ErrorMessage)</label>
        </div>






    </form>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}