﻿

@model DataPaginador<InputModelsGestacion>

    @{ 

        ViewData["Title"] = "Gestacion";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



    <div class="container">


        <div class="row">
            <div class="input-group">
                <a asp-area="Cerdos" asp-page="/RegistrarGestacion/RegistrarGestacion" class="btn btn-success">Registrar</a>

            </div>

        </div>
        <br />

        <form asp-area="Cerdos" asp-controller="Gestacion" asp-action="Gestacion" method="get">
            <div class="row">
                <div class=" input-group">
                    <input asp-for="Search" placeholder="Buscar.." class="form-control col-lg-6" aria-label="Search" autocomplete="off" />
                    <div class="input-group-append"> <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                </div>

            </div>
        </form>
        <br />

        <div class="row">
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.id_gestacion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.id_cerdo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.caravana_hembra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Input.fecha_inicio)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.fecha_aproximada)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.fecha_real)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Input.estado)
                        </th>


                        <th>
                            Opciones
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.id_gestacion)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.id_cerdo)

                        </td>


                        <td>

                            @Html.DisplayFor(modelItem => item.caravana_hembra)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.fecha_inicio)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.fecha_aproximada)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.fecha_real)

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.estado)

                        </td>

                        <td>
                            <a asp-area="Cerdos" asp-page="/RegistrarGestacion/RegistrarGestacion" asp-route-id="@item.id_gestacion" class=" btn btn-success">Editar</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div>
                Resultados @Html.Raw(Model.Pagi_info)
                <br />
                @Html.Raw(Model.Pagi_navegacion)
            </div>
        </div>


    </div>
