﻿@page
@model EliminarModel
@{
}

    <div class="container text-center">

        <h4>Eliminar</h4>
        <p>Esta seguro de eliminar el Alimento?</p>
        <div>
            <h5>Alimento</h5>


            <p><span><strong>@Html.DisplayNameFor(model => model.Input.Id):</strong></span></p>
            <p> @Html.DisplayFor(model => model.Input.Id)</p>


            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Nombre):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Nombre)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.valor_bulto):</strong></span></p><p>@Html.DisplayFor(model => model.Input.valor_bulto)</p>
            </div>

            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.valor_kg):</strong></span></p><p>@Html.DisplayFor(model => model.Input.valor_kg)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.categoria):</strong></span></p><p>@Html.DisplayFor(model => model.Input.categoria)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Fecha_compra):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Fecha_compra)</p>
            </div>

            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.cantidad):</strong></span></p><p>@Html.DisplayFor(model => model.Input.cantidad)</p>
            </div>
            <div class="col-lg-12">
                <p><span><strong>@Html.DisplayNameFor(model => model.Input.Descripcion):</strong></span></p><p>@Html.DisplayFor(model => model.Input.Descripcion)</p>
            </div>
            <br />
            <form method="post">
                <a asp-area="Alimentos" asp-controller="Alimentos" asp-action="Index" class="btn btn-primary">Atras</a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            </form>
        </div>

        <label id="message" class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMesssage)</label>

    </div>